
<div class="container-fluid as-mt-main" >
    <div class="as-header">
        <div class="as-title">
            General > Hand Tools
        </div>
        <div class="row as-color-1">
            <div class="mr-3 as-font-14">
                Items 1-20 of 40
            </div>
            <div class="mr-3">
                <i class="fa fa-th" aria-hidden="true"></i>
            </div>
            <div class="mr-3">
                <i class="fa fa-list" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="as-card py-3">
            <div class="">
                <!-- <img src="../../../assets/img/tools.png"> -->
                <div class="as-product-img" style="background-image: url(../../../assets/img/tools.png);"></div>
            </div>
            
            <div class="mb-3 text-left as-bold as-color-4">Multi Function Wrench 
                Spanner Tool (9mm to 32 mm)</div>
                <div class="row align-items-center mx-0">
                    <div class="mr-3">
                        <button type="button" class="btn btn-round btn-light">Take Now</button>
                    </div>
                    <div class="">
                        
                        <button type="button" class="btn btn-round btn-light addtocart-icon addtocart-btn"></button>
                    </div>
                </div>
                
        </div>
        <div class="as-card py-3">
            <div class="">
                <!-- <img src="../../../assets/img/tools.png"> -->
                <div class="as-product-img" style="background-image: url(../../../assets/img/tools.png);"></div>
            </div>
            
            <div class="mb-3 text-left as-bold as-color-4">Multi Function Wrench 
                Spanner Tool (9mm to 32 mm)</div>
                <div class="row align-items-center mx-0">
                    <div class="mr-3">
                        <button type="button" class="btn btn-round btn-light">Take Now</button>
                    </div>
                    <div class="">
                        
                        <button type="button" class="btn btn-round btn-light addtocart-icon addtocart-btn"></button>
                    </div>
                </div>
                
        </div>
        <div class="as-card py-3">
            <div class="">
                <!-- <img src="../../../assets/img/tools.png"> -->
                <div class="as-product-img" style="background-image: url(../../../assets/img/tools.png);"></div>
            </div>
            
            <div class="mb-3 text-left as-bold as-color-4">Multi Function Wrench 
                Spanner Tool (9mm to 32 mm)</div>
                <div class="row align-items-center mx-0">
                    <div class="mr-3">
                        <button type="button" class="btn btn-round btn-light">Take Now</button>
                    </div>
                    <div class="">
                        
                        <button type="button" class="btn btn-round btn-light addtocart-icon addtocart-btn"></button>
                    </div>
                </div>
                
        </div>
        <div class="as-card py-3">
            <div class="">
                <!-- <img src="../../../assets/img/tools.png"> -->
                <div class="as-product-img" style="background-image: url(../../../assets/img/tools.png);"></div>
            </div>
            
            <div class="mb-3 text-left as-bold as-color-4">Multi Function Wrench 
                Spanner Tool (9mm to 32 mm)</div>
                <div class="row align-items-center mx-0">
                    <div class="mr-3">
                        <button type="button" class="btn btn-round btn-light">Take Now</button>
                    </div>
                    <div class="">
                        
                        <button type="button" class="btn btn-round btn-light addtocart-icon addtocart-btn"></button>
                    </div>
                </div>
                
        </div>
        <div class="as-card py-3">
            <div class="">
                <!-- <img src="../../../assets/img/tools.png"> -->
                <div class="as-product-img" style="background-image: url(../../../assets/img/tools.png);"></div>
            </div>
            
            <div class="mb-3 text-left as-bold as-color-4">Multi Function Wrench 
                Spanner Tool (9mm to 32 mm)</div>
                <div class="row align-items-center mx-0">
                    <div class="mr-3">
                        <button type="button" class="btn btn-round btn-light">Take Now</button>
                    </div>
                    <div class="">
                        
                        <button type="button" class="btn btn-round btn-light addtocart-icon addtocart-btn"></button>
                    </div>
                </div>
                
        </div>
        <div class="as-card py-3">
            <div class="">
                <!-- <img src="../../../assets/img/tools.png"> -->
                <div class="as-product-img" style="background-image: url(../../../assets/img/tools.png);"></div>
            </div>
            
            <div class="mb-3 text-left as-bold as-color-4">Multi Function Wrench 
                Spanner Tool (9mm to 32 mm)</div>
                <div class="row align-items-center mx-0">
                    <div class="mr-3">
                        <button type="button" class="btn btn-round btn-light">Take Now</button>
                    </div>
                    <div class="">
                        
                        <button type="button" class="btn btn-round btn-light addtocart-icon addtocart-btn"></button>
                    </div>
                </div>
                
        </div>
        <div class="as-card py-3">
            <div class="">
                <!-- <img src="../../../assets/img/tools.png"> -->
                <div class="as-product-img" style="background-image: url(../../../assets/img/tools.png);"></div>
            </div>
            
            <div class="mb-3 text-left as-bold as-color-4">Multi Function Wrench 
                Spanner Tool (9mm to 32 mm)</div>
                <div class="row align-items-center mx-0">
                    <div class="mr-3">
                        <button type="button" class="btn btn-round btn-light">Take Now</button>
                    </div>
                    <div class="">
                        
                        <button type="button" class="btn btn-round btn-light addtocart-icon addtocart-btn"></button>
                    </div>
                </div>
                
        </div>
        <div class="as-card py-3">
            <div class="">
                <!-- <img src="../../../assets/img/tools.png"> -->
                <div class="as-product-img" style="background-image: url(../../../assets/img/tools.png);"></div>
            </div>
            
            <div class="mb-3 text-left as-bold as-color-4">Multi Function Wrench 
                Spanner Tool (9mm to 32 mm)</div>
                <div class="row align-items-center mx-0">
                    <div class="mr-3">
                        <button type="button" class="btn btn-round btn-light">Take Now</button>
                    </div>
                    <div class="">
                       
                        <button type="button" class="btn btn-round btn-light addtocart-icon addtocart-btn"></button>
                    </div>
                </div>
                
        </div>
    </div>
    <div class="text-center mb-5 mt-3">
        <button type="button" class="btn btn-round btn-outline-info as-more-btn">Load More..</button>
    </div>
</div>


