

<div class="container-fluid as-mt-main">
    <div class="as-header">
        <div class="as-title">
            General
        </div>
        <div class="row as-color-1">
            <div class="mr-3">
                Items 1-20 of 40
            </div>
            <div class="mr-3">
                <i class="fa fa-th" aria-hidden="true"></i>
            </div>
            <div class="mr-3">
                <i class="fa fa-list" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="as-card">
            <img src="../../../assets/img/hamer.png">
            <div class="as-crd-title">Abrasives</div>
        </div>
        <div class="as-card">
            <img src="../../../assets/img/hamer.png">
            <div class="as-crd-title">Abrasives</div>
        </div>
        <div class="as-card">
            <img src="../../../assets/img/hamer.png">
            <div class="as-crd-title">Abrasives</div>
        </div>
        <div class="as-card">
            <img src="../../../assets/img/hamer.png">
            <div class="as-crd-title">Abrasives</div>
        </div>
        <div class="as-card">
            <img src="../../../assets/img/hamer.png">
            <div class="as-crd-title">Abrasives</div>
        </div>
        <div class="as-card">
            <img src="../../../assets/img/hamer.png">
            <div class="as-crd-title">Abrasives</div>
        </div>
        <div class="as-card">
            <img src="../../../assets/img/hamer.png">
            <div class="as-crd-title">Abrasives</div>
        </div>
        <div class="as-card">
            <img src="../../../assets/img/hamer.png">
            <div class="as-crd-title">Abrasives</div>
        </div>
        <div class="as-card">
            <img src="../../../assets/img/hamer.png">
            <div class="as-crd-title">Abrasives</div>
        </div>
        <div class="as-card">
            <img src="../../../assets/img/hamer.png">
            <div class="as-crd-title">Abrasives</div>
        </div>
        <div class="as-card">
            <img src="../../../assets/img/hamer.png">
            <div class="as-crd-title">Abrasives</div>
        </div>

    </div>
</div>
