
<div class="container-fluid as-mt-main product" >
    <div class="as-header">
        <div class="as-title" (click)="clicktitle()">
          {{routername}}
        </div>
        <div class="row as-color-1">
            <div class="mr-3 as-font-14">
                <div class="mr-3 as-font-14">
                    <mat-paginator [length]="items.length"
                    [pageSize]="size"
                    [pageIndex]="page"
                    [pageSizeOptions]="[4, 8, 12]"
                    (page)="getData($event)">
                    </mat-paginator>
                </div>
            </div>
            <div class="mr-3 pointer  as-g-active view-active " (click)="gridview()">
                <i class="fa fa-th icon_list" aria-hidden="true"></i>
            </div>
            <div class="mr-3 pointer  as-l-active " (click)="listview()">
                <i class="fa fa-list icon_list" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="row ml-0 as-grid">
        <div class="as-card py-3" *ngFor="let item of data">
            <div class="as-card-width1">
                
                <img src="{{item?.image_path}}" (click)="select(item?._id)">
            </div>
            
            <div class="mb-3 mt-1 text-left as-bold as-color-4 as-card-width2 as-font-30" (click)="select(item?._id)">{{item?.item_name}}</div>
                <div class="row align-items-center mx-0 as-card-width3">
                    <div class="mr-3">
                        <!-- <button type="button" class="btn btn-round btn-light take-now" >Take Now</button> -->
                    </div>
                    <div class="">
                        
                        <button type="button" class="btn btn-round btn-light addtocart-icon addtocart-btn" (click)="addtocart(item?._id,1)"></button>
                    </div>
                </div>
                
        </div>

    </div>
    <ng-container *ngIf="data?.length == 0" class="as-nodata">
        <div class="no_data_msg w-100 text-center as-nodata">No Data Avaliable</div>
      </ng-container>
    <!-- <div class="text-center mb-5 mt-3">
        <button type="button" class="btn btn-round btn-outline-info as-more-btn">Load More..</button>
    </div> -->
</div>


   