.form-check {
   
    margin-top: -5px;
}

.form-control.quantity {
    border: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    border-radius: 6px;
    width: 25%;
}
.as-width-93{
    width: 93%;
}

.i-history i {
    color: #909090;
}
@media only screen and (min-width : 768px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2){
// .as-history1 {
//     white-space: nowrap;
// }
.as-color-2 {
   
    word-spacing: -2px;
}
.as-history {
    display: flex;
    margin: auto;
}
}