<div class="container-fluid as-mt-main i-history" *ngIf="this.view">
  <div class="as-header">
    <div class="as-title">
      Item History
    </div>
    <div class="as-color-1" *ngIf="itemhistorycart?.length!=0">

      <div class="text-center">
        <button type="button" [disabled]="arrayvalue?.length==0"
          class="btn btn-round btn-outline-info" data-toggle="modal" data-target="#myModal" 
          >Return
          Products</button>
      </div>
    </div>
  </div>
  <div class="row mx-0">
    <div class="as-card " *ngFor="let cart of itemhistorycart;let i=index">
      <div class="">
        <img src="{{cart?.item?.image_path}}" onError="this.src='../../../assets/img/errorimage.png'">
        <!-- <div class="as-product-img" style="background-image: url({{cart?.item?.image_path}});"></div> -->
      </div>

      <div class="mb-3 text-left as-bold as-color-4 title-b">{{cart?.item?.item_name}}({{cart?.qty}})</div>
      <div class="row  mx-0">
        <div class="as-history1 title-sml-mrgn">
          <div class="mr-2"><i class="fa fa-calendar ic_lrg"></i> <span class="as-color-2 mt-3 as-font-26">
              {{date | date:'MMM d, y'}}
            </span> </div>
          <div><i class="fa fa-clock-o ic_lrg"></i> <span class="as-color-2 mt-3 as-font-26">
              {{date | date:"hh:mm a"}}
            </span> </div>
        </div>
      </div>
      <div class="form-group form-check as-check">
        <input type="checkbox" class="form-check-input" id="Check1" (change)="passParams($event,cart)">
      </div>
    </div>
    <!-- <ng-container class="ng-star-inserted w-100 text-center as-nodata" *ngIf="itemhistorycart?.length == 0">
      <div class="no_data_msg w-100 text-center as-nodata ">No Data Avaliable</div>
    </ng-container> -->

  </div>
  <div class="as-header mb-4">
    <h2 class="h2-sub" *ngIf="itemhistorykit?.length!=0">
      Kitting Sets
    </h2>
    <div class=" as-color-1" *ngIf="itemhistorykit?.length!=0">

      <div class="text-center">
        <button type="button" class="btn btn-round btn-outline-info"
          [disabled]="arrayvalue1?.length==0" (click)="returnItem1('kit',mymodal)">Return Kits</button>
      </div>
    </div>
  </div>
  <div class="row mx-0">
    <div class="col-md-6 " *ngFor="let kitting of itemhistorykit">
      <div class="as-item-box">
        <div class="d-flex justify-content-between align-items-center">
          <div class="as-font-34">{{kitting?.kit_name}}</div>
          <div class="row align-items-center mx-0">
            <div class="as-history ">
              <div class="mr-2"><i class="fa fa-calendar as-font-25"></i> <span class="as-color-2 mt-3 as-font-16 as-font-25">
                  {{kitting?.updated_at| date:'MMM d, y'}}
                </span> </div>
              <div><i class="fa fa-clock-o as-font-25"></i> <span class="as-color-2 mt-3 as-font-16 as-font-25">
                  {{kitting?.updated_at| date:"hh:mm a"}}
                </span> </div>
            </div>
            <div class="form-group form-check ">
              <input type="checkbox" class="form-check-input cb-kit" id="Check1" (change)="passParams1($event,kitting)">
            </div>


          </div>
        </div>
        <div class="bg-white mx-1 my-3 row as-text-flex px-3" *ngFor="let item of kitting?.kit_item_details">
          <div class="">
            <!-- <div class="as-productlst-img" style="background-image: url({{item?.item_id?.image_path}});"></div> -->
            <img class="as-productlst-img" [src]="item?.item?.image_path" onError="this.src='../../../assets/img/errorimage.png'" />
          </div>
          <div>
            <div class="as-font-18 as-bold as-color-4 as-font-30">
              {{item?.item?.item_name}}({{item?.quantity}})
            </div>
            <div class="as-color-2 mt-3 as-font-16 as-font-25">
              Machine: {{item?.cube?.cube_name}} Column ID: {{item?.bin?.bin_id}} Draw:
              {{item?.compartment?.compartment_id}}
            </div>
          </div>
        </div>

        <!-- <div class="bg-white mx-1 my-3 row as-text-flex px-3">
          <div class="">
            <div class="as-productlst-img" style="background-image: url(../../../assets/img/tools.png);"></div>
          </div>
          <div>
            <div class="as-font-18 as-bold as-color-4">
              Multi Function Wrench Spanner Tool (9mm to 32 mm)
            </div>
            <div class="as-color-2 mt-3 as-font-16">
              Machine: 01 Column ID: 01 Rack: 02
            </div>
          </div>
        </div> -->

        <!-- <div class="bg-white mx-1 my-3 row as-text-flex px-3">
          <div class="">
            <div class="as-productlst-img" style="background-image: url(../../../assets/img/tools.png);"></div>
          </div>
          <div>
            <div class="as-font-18 as-bold as-color-4">
              Multi Function Wrench Spanner Tool (9mm to 32 mm)
            </div>
            <div class="as-color-2 mt-3 as-font-16">
              Machine: 01 Column ID: 01 Rack: 02
            </div>
          </div>
        </div> -->
      </div>

    </div>
    <!-- <div class="col-md-6 ">
      <div class="as-item-box">
        <div class="d-flex justify-content-between align-items-center">
          <div class="as-font-24">Item Kit01</div>
          <div class="row align-items-center mx-0">
            <div class="as-history">
              <div class="mr-2"><i class="fa fa-calendar"></i> <span class="as-color-2 mt-3 as-font-16">
                  15 Sep 2021
                </span> </div>
              <div><i class="fa fa-clock-o"></i> <span class="as-color-2 mt-3 as-font-16">
                  7:30PM
                </span> </div>
            </div>
            <div class="form-group form-check ">
              <input type="checkbox" class="form-check-input" id="Check1">
            </div>


          </div>
        </div>
        <div class="bg-white mx-1 my-3 row as-text-flex px-3">
          <div class="">
            <div class="as-productlst-img" style="background-image: url(../../../assets/img/tools.png);"></div>
          </div>
          <div>
            <div class="as-font-18 as-bold as-color-4">
              Multi Function Wrench Spanner Tool (9mm to 32 mm)
            </div>
            <div class="as-color-2 mt-3 as-font-16">
              Machine: 01 Column ID: 01 Rack: 02
            </div>
          </div>
        </div>

        <div class="bg-white mx-1 my-3 row as-text-flex px-3">
          <div class="">
            <div class="as-productlst-img" style="background-image: url(../../../assets/img/tools.png);"></div>
          </div>
          <div>
            <div class="as-font-18 as-bold as-color-4">
              Multi Function Wrench Spanner Tool (9mm to 32 mm)
            </div>
            <div class="as-color-2 mt-3 as-font-16">
              Machine: 01 Column ID: 01 Rack: 02
            </div>
          </div>
        </div>

        <div class="bg-white mx-1 my-3 row as-text-flex px-3">
          <div class="">
            <div class="as-productlst-img" style="background-image: url(../../../assets/img/tools.png);"></div>
          </div>
          <div>
            <div class="as-font-18 as-bold as-color-4">
              Multi Function Wrench Spanner Tool (9mm to 32 mm)
            </div>
            <div class="as-color-2 mt-3 as-font-16">
              Machine: 01 Column ID: 01 Rack: 02
            </div>
          </div>
        </div>
      </div>

    </div> -->
  </div>
  <ng-container class="ng-star-inserted w-100 text-center as-nodata" *ngIf="itemhistorykit?.length == 0 && itemhistorycart?.length==0">
    <div class="no_data_msg w-100 text-center as-nodata ">No Data Avaliable</div>
  </ng-container>

  <!-- POPUP DESIGN Return -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="as-bold as-color-4 as-font-24">Return</div>
          <button type="button" class="close" #closebutton data-dismiss="modal" (click)="close()" >&times;</button>
        </div>
        <hr class="as-width-93">
        <div class="modal-body text-center">

          <div class="row py-2" *ngFor="let data of arrayvalue;let i=index">
            <div class="w-25">
              <!-- <img src="../../../assets/img/tools.png"> -->
              <img class="as-product-img-pop" src="{{data?.item?.image_path}}" onError="this.src='https://t3.ftcdn.net/jpg/04/34/72/82/360_F_434728286_OWQQvAFoXZLdGHlObozsolNeuSxhpr84.jpg'">

            </div>
            <div class="as-w-60 pl-3">
              <div class="mb-3 text-left as-bold as-color-4">
                {{data?.item?.item_name}}
              </div>
              <div class="d-flex align-items-center as-mr-det">
                <label class="mr-2">QTY :</label>
                <input type="number" id="quantity{{i}}" class="form-control quantity" placeholder="QTY" name="quantity"
                  min="1" max="5" (keyup)="myFunction($event,i)">
              </div>
            </div>
            <div class="as-w-15">

              <button (click)="delete(i)" type="button" class="btn btn-round btn-light "><i
                  class="fa fa-trash-o as-font-20" aria-hidden="true"></i></button>
            </div>
            <hr class="w-100">
          </div>

          <!-- <div class="row py-2">
            <div class="w-25">
              
              <div class="as-product-img-pop" style="background-image: url(../../../assets/img/tools.png);"></div>
            </div>
            <div class="as-w-60 pl-3">
              <div class="mb-3 text-left as-bold as-color-4">Multi Function Wrench
                Spanner Tool (9mm to 32 mm)</div>
              <div class="d-flex align-items-center as-mr-det">
                <label class="mr-2">Qty :</label>
                <input type="number" id="quantity" class="form-control quantity" placeholder="2" name="quantity" min="1"
                  max="5">
              </div>
            </div>
            <div class="as-w-15">

              <button type="button" class="btn btn-round btn-light "><i class="fa fa-trash-o as-font-20"
                  aria-hidden="true"></i></button>
            </div>
          </div> -->
        </div>
        <hr class="as-width-93">
        <div class="modal-footer">
          <div class="d-flex mb-3">
            <div class="as-color-4 as-font-24 line-h-12">Are you sure, do you want to return the item?</div>
            <button class="btn btn-lg btn-primary btn-login  fw-bold mb-2" type="button"
            (click)="returnItem1('cart',mymodal)" [disabled]="!this.add">Confirm</button>
          </div>
        </div>

      </div>
    </div>
  </div>



</div>

<div class="container-fluid as-mt-main i-history" *ngIf="!this.view">
  <div class="as-header">
     <div class="no_data_msg w-100 text-center as-nodata ">View Access Denied</div>
  </div>
</div>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" (click)="modaldismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <table class="table table-striped">
      
          <tbody>
            <tr>
              <td>Cube ID :</td>
              <td>{{machineCubeID}}</td>
              
            </tr>
            <tr>
              <td>Colomn ID :</td>
              <td>{{machineColumnID}}</td>
              
            </tr>
            <tr>
              <td>Draw ID :</td>
              <td>{{machineDrawID}}</td>
              
            </tr>
            <tr>
              <td>compartment ID :</td>
              <td>{{machineCompartmentID}}</td>
              
            </tr>
            <tr>
              <td>Status :</td>
              <td>{{machineStatus}}</td>
              
            </tr>
          </tbody>
        </table>
        <div class="details text-center" style="background-color: #ddd; padding: 15px; margin: auto;"> 
        <p><strong style="color: rgb(23, 167, 23);">{{msg}}</strong></p>
      <p><strong style="color: rgb(23, 167, 23);">{{msgg}}</strong></p>
  </div>
  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div> -->
</ng-template>