.form-check {
   
    margin-top: -5px;
}

.form-control.quantity {
    border: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    border-radius: 6px;
    width: 25%;
}
.as-width-93{
    width: 93%;
}