.form-check {
   
    margin-top: -5px;
}

.form-control.quantity {
    border: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    border-radius: 6px;
    width: 38%;
}
.as-width-93{
    width: 93%;
}

.as-w-60
{
    width: 40% !important;
}
hr.w-100 {
    display: none;
}

.i-history i {
    color: #909090;
}

@media only screen and (min-width : 768px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2){
// .as-history1 {
//     white-space: nowrap;
// }
.as-color-2 {
   
    word-spacing: -2px;
}
.as-history {
    display: flex;
    margin: auto;
}
}

button.btn.btn-lg.btn-primary.btn-login.fw-bold.mb-2 {
    width: min-content;
    margin: auto;
    margin-top: 10px;
}

.modal-footer {
    justify-content: center;
}

.as-header {
    
    margin: 16px 0px 15px 0 !important;
}

.d-flex.mb-3 {
    align-items: center;
    flex-direction:column;
}

.modal-body.height.text-center {
   
    max-height: 350px;
    overflow: auto;
}

.as-w-60.pl-3 {
    margin-left: 30px;
}

.as-color-4.as-font-24.line-h-12 {
    font-size: 16px;
}