
<div class="container-fluid as-mt-main" >
<div class="col-md-12 p-0">
    <div class="row mx-0">
        <div class="col-md-6 pl-0">
            <div class="image-gallery">
                <aside class="thumbnails">
                  <a href="#" class="selected thumbnail" data-big="../../../assets/img/details-1.png">
                    <div class="thumbnail-image" style="background-image: url(../../../assets/img/details-1.png)"></div>
                  </a>
                  <a href="#" class="thumbnail" data-big="../../../assets/img/details-2.png">
                    <div class="thumbnail-image" style="background-image: url(../../../assets/img/details-2.png)"></div>
                  </a>
                  <a href="#" class="thumbnail" data-big="../../../assets/img/details-3.png">
                    <div class="thumbnail-image" style="background-image: url(../../../assets/img/details-3.png)"></div>
                  </a>
                </aside>
              
                <main class="primary" style="background-image: url('../../../assets/img/details-img.png');">
                <div class="as-avaliable">
                    <div class="as-avaliable-btn"></div>
                    <div class="as-font-18 as-z-index-1">Available</div>
                    <div class="as-font-24">10</div>
                </div>
                   
                </main>
              </div>
        </div>
        <div class="col-md-6 pr-0">
            
        </div>
    </div>
</div>

</div>

