<!-- <div id="navbar">
  <nav class="navbar header-top fixed-top navbar-expand-lg  navbar-light bg-white">
    <span class="navbar-toggler-icon leftmenutrigger" (click)="toggleSidebar()" id="sidebarCollapse"></span>
    <div class="navbar-brand logo-img "></div>
    <a class="nav-link dropdown-toggle" href="#" id="categoryDropdown" role="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">Category</a>
    <div class="dropdown-menu " aria-labelledby="categoryDropdown">


      <div class="d-md-flex align-items-start justify-content-start">
        <div class="as-bg-1">
          <div class="dropdown-header">General(40)</div>
          <div class="dropdown-item">Gage(14)</div>
          <div class="dropdown-item">Kitting(32)</div>
          <div class="dropdown-item">Assembly(21)</div>
          <div class="dropdown-item">Key(15)</div>
          <div class="dropdown-item">General(20)</div>
          <div class="dropdown-item">Gage(21)</div>
          <div class="dropdown-item">Kit(29)</div>
        </div>
        <div class="as-drop-head">

          <div class="dropdown-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Abrassives(20)</div>
          <div class="dropdown-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Spot Drills(20)</div>
          <div class="dropdown-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Carbide Drills(20)</div>
          <div class="dropdown-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Had Tools(20)</div>
          <div class="dropdown-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>
          <div class="dropdown-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Head(20)</div>
          <div class="dropdown-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Hand Tools(20)</div>
          <div class="dropdown-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>
          <div class="dropdown-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Head(20)</div>
        </div>
        <div class="as-drop-head">

          <div class="dropdown-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Abrassives(20)</div>
          <div class="dropdown-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Spot Drills(20)</div>
          <div class="dropdown-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Carbide Drills(20)</div>
          <div class="dropdown-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Had Tools(20)</div>
          <div class="dropdown-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>
          <div class="dropdown-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Head(20)</div>
          <div class="dropdown-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Hand Tools(20)</div>
          <div class="dropdown-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>
          <div class="dropdown-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Head(20)</div>
        </div>
        <div class="as-drop-head">
          <div class="as-drop-img">
          </div>
        </div>
      </div>
    </div>
    <div>Item History</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarText">
      <ul class="navbar-nav animate side-nav sidenav">

        <li class="nav-item">
          <a class="nav-link" href="#">Category</a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Item History</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-md-auto d-md-flex">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <div class="search-icon"></div>

          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <div class="user-icon"></div>
          </a>
        </li>
        <li class="nav-item relative">
          <a class="nav-link" href="#">
            <div class="addtocart-icon"></div>
          </a>
          <div class="shop-count">1</div>
        </li>
        <li class="nav-item">
        
          <a class="nav-link" href="#" data-toggle="modal" data-target="#myModal2">
            <div class="logout-icon"></div>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="modal" id="myModal2">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body text-center">
          <div class="logout-popup"></div>
          <div class="as-font-24 as-color-5 my-3">Are you sure you want to logout?</div>

          <div class="d-grid mb-3 as-mt-2">
            <button class="btn btn-lg btn-primary btn-login  fw-bold mb-2 mr-2" type="button" data-toggle="modal"
              data-target="#myModal1">Yes</button>
            <button class="btn btn-lg btn-secondary btn-login  fw-bold mb-2 ml-2" type="button">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="modal" id="myModal1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body text-center">
          <div class="locker-popup"></div>
          <div class="as-font-24 as-color-5 my-3">It seems like one of the locker is open,
            please close before you logout..</div>

          <div class="d-grid mb-3 as-mt-2">
            <button class="btn btn-lg btn-primary btn-login  fw-bold mb-2 " type="button">Close Now</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<router-outlet></router-outlet>

