
<div id="navbar">
    <nav class="navbar header-top fixed-top navbar-expand-lg  navbar-light bg-white">
        <span class="navbar-toggler-icon leftmenutrigger"></span>
        <div class="navbar-brand logo-img "></div>

        <div class="dropdown mx-3">
            <div type="button" class=" dropdown-toggle" data-toggle="dropdown">
                Category
            </div>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
            </div>
        </div>
        <div>Item History</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText" >
            <ul class="navbar-nav animate side-nav">
                
                <li class="nav-item">
                    <a class="nav-link" href="#">Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Item History</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-md-auto d-md-flex">
                <li class="nav-item">
                    <a class="nav-link" href="#"><div class="search-icon" ></div>

                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><div class="user-icon" ></div></a>
                </li>
                <li class="nav-item relative">
                    <a class="nav-link" href="#"><div class="addtocart-icon" ></div></a>
                    <div class="shop-count">1</div>
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link" href="#"><i class="fa fa-power-off" aria-hidden="true"></i></a> -->
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#myModal2"><div class="logout-icon" ></div></a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- POPUP DESIGN Logout -->
    <div class="modal" id="myModal2">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
              <div class="logout-popup"></div>
              <div class="as-font-24 as-color-5 my-3">Are you sure you want to logout?</div>
              
              <div class="d-grid mb-3 as-mt-2">
                <button class="btn btn-lg btn-primary btn-login  fw-bold mb-2 mr-2" type="button" data-toggle="modal" data-target="#myModal1" >Yes</button>
                <button class="btn btn-lg btn-secondary btn-login  fw-bold mb-2 ml-2" type="button" >No</button>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- POPUP DESIGN locker-open -->
      <div class="modal" id="myModal1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
              <div class="locker-popup"></div>
              <div class="as-font-24 as-color-5 my-3">It seems like one of the locker is open,
                please close before you logout..</div>
              
              <div class="d-grid mb-3 as-mt-2">
                <button class="btn btn-lg btn-primary btn-login  fw-bold mb-2 " type="button" >Close Now</button>
                
              </div>
            </div>
          </div>
        </div>
      </div>
</div>  
<router-outlet></router-outlet>
   <footer class="main-footer ng-scope" >
        <div class="container-fluid">
          <p>Powered by
            <a target="blank" href="https://Sequr.com/" class="external">
                2021 All rights reserved Sequr.com
            </a>
          </p>
        </div>
      </footer>