<div id="navbar">
  <nav class="navbar header-top fixed-top navbar-expand-lg  navbar-light bg-white">
   
    <div class="navbar-brand logo-img " [routerLink]="'/pages/home'"></div>
    <span class="navbar-toggler-icon leftmenutrigger" (click)="toggleSidebar()" id="sidebarCollapse"></span>

    <div class="as-menu-as-drophover-header">
      <ul class="as-menu">
        <li class="as-menu-mega-blog"><a>Category</a>
          <div class="d-flex as-menu-w">
            <ul class="as-menu-mega-blog-nav as-drop-head">

              <li class="as-active-menu-item1" *ngFor="let Categories of category"><a >{{Categories.category.category_name}}({{Categories?.sub_category?.length==''?'0':Categories?.sub_category?.length}})</a>
                <div class="as-grid as-grid-lined">
                  <div class="row">
                    <div class="as-drop-head">

                      <div class="as-item pointer" *ngFor="let subcategory of Categories?.sub_category" (click)="selectcategory(subcategory,Categories)"><i  class="fa fa-chevron-right mr-3 as-color-7" ></i>{{subcategory?.sub_category_name}}</div>
                      <!-- <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Spot Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Carbide Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Had Tools(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Head(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Hand Tools(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Head(20)</div> -->
                    </div>
                    <!-- <div class="as-drop-head">

                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Abrassives(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Spot Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Carbide Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Had Tools(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Head(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Hand Tools(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Head(20)</div>
                    </div> -->
                  </div>
                </div>
                <span class="as-dropdown-toggle"></span>
              </li>

              <!-- <li class="hidden-md"><a href="#">Gage(14)</a>
                <div class="as-grid as-grid-lined">
                  <div class="row">
                    <div class="as-drop-head">

                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Abrassives(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Spot Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Carbide Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Had Tools(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Head(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Hand Tools(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Head(20)</div>
                    </div>
                    <div class="as-drop-head">

                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Abrassives(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Spot Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Carbide Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Had Tools(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>

                    </div>
                  </div>

                </div>
                <span class="as-dropdown-toggle"></span>
              </li>

              <li><a href="#">Kitting(32)</a>
                <div class="as-grid ">
                  <div class="row">
                    <div class="as-drop-head">

                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Abrassives(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Spot Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Carbide Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Had Tools(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Head(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Hand Tools(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Head(20)</div>
                    </div>
                    <div class="as-drop-head">

                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Abrassives(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Spot Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Carbide Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Had Tools(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>

                    </div>
                  </div>
                </div>
                <span class="as-dropdown-toggle"></span>
              </li>

              <li><a href="#">Assembly(21)</a>
                <div class="as-grid as-grid-lined">
                  <div class="row">
                    <div class="as-drop-head">

                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Abrassives(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Spot Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Carbide Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Had Tools(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Head(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Hand Tools(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Head(20)</div>
                    </div>
                    <div class="as-drop-head">

                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Abrassives(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Spot Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Carbide Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Had Tools(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Head(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Hand Tools(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Head(20)</div>
                    </div>
                  </div>
                </div>
                <span class="as-dropdown-toggle"></span>
              </li>

              <li><a href="#">Key(15)</a>
                <div class="as-grid as-grid-lined">
                  <div class="row">
                    <div class="as-drop-head">

                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Abrassives(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Spot Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Carbide Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Had Tools(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Head(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Hand Tools(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Head(20)</div>
                    </div>
                    <div class="as-drop-head">

                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Abrassives(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Spot Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Carbide Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Had Tools(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>

                    </div>
                  </div>
                </div>
                <span class="as-dropdown-toggle"></span>
              </li>

              <li><a href="#">General(20)</a>
                <div class="as-grid as-grid-lined">
                  <div class="row">
                    <div class="as-drop-head">

                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Abrassives(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Spot Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Carbide Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Had Tools(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Head(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Hand Tools(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Head(20)</div>
                    </div>
                    <div class="as-drop-head">

                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Abrassives(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Spot Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Carbide Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Had Tools(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Head(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Hand Tools(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Head(20)</div>
                    </div>
                  </div>
                </div>
                <span class="as-dropdown-toggle"></span>
              </li>


              <li><a href="#">Gage(21)</a>
                <div class="as-grid as-grid-lined">
                  <div class="row">
                    <div class="as-drop-head">

                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Abrassives(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Spot Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Carbide Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Had Tools(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Head(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Hand Tools(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Head(20)</div>
                    </div>
                    <div class="as-drop-head">

                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Abrassives(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Spot Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Carbide Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Had Tools(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>

                    </div>
                  </div>
                </div>
                <span class="as-dropdown-toggle"></span>
              </li>

              <li><a href="#">Kit(29)</a>
                <div class="as-grid as-grid-lined">
                  <div class="row">
                    <div class="as-drop-head">

                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Abrassives(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Spot Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Carbide Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Had Tools(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Head(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Hand Tools(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Head(20)</div>
                    </div>
                    <div class="as-drop-head">

                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Abrassives(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Spot Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Carbide Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Had Tools(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Head(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Hand Tools(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Head(20)</div>
                    </div>
                  </div>
                </div>
                <span class="as-dropdown-toggle"></span>
              </li> -->


            </ul>
            <div class="as-drop-head">
              <div class="as-drop-img">
              </div>
            </div>
          </div>

          <span class="as-dropdown-toggle"></span>
        </li>
        <li class="as-menu-mega-blog">
          <a [routerLink]="'/pages/itemhistory'">Item History</a>
        </li>
      </ul>
    </div>



    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarText">
      <ul class="navbar-nav animate side-nav sidenav">

        <li class="nav-item">
          <div class="nav-link nav-title as-bold as-color-8">Category </div>
          <hr>
          <a *ngFor="let Categories of category"class="nav-link " (click)="setval(Categories)">{{Categories.category.category_name}}({{Categories?.sub_category?.length==''?'0':Categories?.sub_category?.length}})</a>
          <!-- <a class="nav-link">Gage(14)</a>
          <a class="nav-link">Kitting(32)</a>
          <a class="nav-link">Assembly(21)</a>
          <a class="nav-link">Key(15)</a>
          <a class="nav-link">General(20)</a>
          <a class="nav-link">Gage(21)</a>
          <a class="nav-link">Kit(29)</a> -->
        </li>
        <li class="nav-item mt-3">
          <div class="nav-link nav-title as-bold as-color-8" href="#">Item History</div>
          <hr>
          <a class="nav-link">Item Kit 01 (3)</a>
          <a class="nav-link">Item Kit 02 (3)</a>
          <a class="nav-link">Item Kit 03 (3)</a>
        </li>
        <li class="nav-item mt-3 as-sp">
          <div class="nav-link nav-title as-bold as-color-8 " href="#">Similar Products</div>
          <hr>
          <div class="row flex-wrap-nowrap ">
            <div>
              <div class="as-similar-img" style="background-image: url(../../../../assets/img/Similar.png);"></div>
            </div>
            <div class="as-m12 line-h-12">
              <div class="as-font-16 as-color-5 ">
                Stubby Claw
                Hammer 2
              </div>
              <div class="as-font-12 as-color-2">
                Column ID: 01
              </div>
              <div class="as-font-12 as-color-2">
                Rack: 02
              </div>
            </div>

          </div>
          <div class="row flex-wrap-nowrap">
            <div>
              <div class="as-similar-img" style="background-image: url(../../../../assets/img/Similar.png);"></div>
            </div>
            <div class="as-m12 line-h-12">
              <div class="as-font-16 as-color-5 ">
                Stubby Claw
                Hammer 2
              </div>
              <div class="as-font-12 as-color-2">
                Column ID: 01
              </div>
              <div class="as-font-12 as-color-2">
                Rack: 02
              </div>
            </div>

          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-md-auto d-md-flex">
        <li class="nav-item d-flex">

           <div id="search-container">
            <div class="search-fields">
              <div>
                <input matInput #searchInput placeholder="Search..." (keyup.enter)="search()" autocomplete="off">
              </div>
              <!-- <button mat-icon-button class="submitButton " (click)="search()">
                 GO
              </button> -->
            </div>
            <button type="button" mat-icon-button class="toggleBtn {{searchIcon}}" (click)="toggleSearch()">
              <!-- <mat-icon>{{searchIcon}}</mat-icon> -->
              <!-- <i class="search-icon"></i> -->
            </button>
          </div>

        </li>
        <li class="nav-item" [routerLink]="'/pages/profile'">
          <a class="nav-link" >
            <div class="user-icon" ></div>
          </a>
        </li>
        <li class="nav-item relative" [routerLink]="'/pages/mycart'">
          <a class="nav-link" >
            <div class="addtocart-icon"></div>
          </a>
          <div class="shop-count">1</div>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="#"><i class="fa fa-power-off" aria-hidden="true"></i></a> -->
          <a class="nav-link" data-toggle="modal" data-target="#myModal2">
            <div class="logout-icon"></div>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- POPUP DESIGN Logout -->
  <div class="modal" id="myModal2">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body text-center">
          <div class="logout-popup"></div>
          <div class="as-font-24 as-color-5 my-3">Are you sure you want to logout?</div>

          <div class="d-grid mb-3 as-mt-2">
            <button class="btn btn-lg btn-primary btn-login  fw-bold mb-2 mr-2" type="button" data-toggle="modal"
              data-target="#myModal1">Yes</button>
            <button class="btn btn-lg btn-secondary btn-login  fw-bold mb-2 ml-2" type="button">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- POPUP DESIGN locker-open -->
  <div class="modal" id="myModal1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body text-center">
          <div class="locker-popup"></div>
          <div class="as-font-24 as-color-5 my-3 as-li-h-14">It seems like one of the locker is open,
            please close before you logout..</div>

          <div class="d-grid mb-3 as-mt-2">
            <button class="btn btn-lg btn-primary btn-login  fw-bold mb-2 " type="button">Close Now</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
