<div id="navbar">
  <nav class="navbar header-top fixed-top navbar-expand-lg  navbar-light bg-white">

    <div class="navbar-brand logo-img "></div>
    <span class="navbar-toggler-icon leftmenutrigger" (click)="toggleSidebar()" id="sidebarCollapse"></span>

    <div class="as-menu-as-drophover-header">
      <ul class="as-menu">

        <li class="as-menu-mega-blog"><a>Category</a>
          <div class="d-flex as-menu-w as-category-scroll" *ngIf="category?.length!=0">
            <ul class="as-menu-mega-blog-nav as-drop-head">

              <li class="as-active-menu-item1" *ngFor="let Categories of categories ;let i=index">
                <a>{{Categories.category.category_name}}({{Categories?.sub_category?.length==''?0:Categories?.sub_category?.length}})</a>
                <div class="as-grid as-grid-lined">
                  <div class="row">
                    <div class="as-drop-head">

                      <div class="as-item pointer" *ngFor="let subcategory of Categories?.sub_category"
                        (click)="selectcategory(Categories,i)"><i
                          class="fa fa-chevron-right mr-3 as-color-7"></i>{{ subcategory?.sub_category_name }}</div>
                      <!-- <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Spot Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Carbide Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Had Tools(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Head(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Hand Tools(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Head(20)</div> -->
                    </div>
                    <!-- <div class="as-drop-head">

                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Abrassives(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Spot Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Carbide Drills(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Had Tools(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Head(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Hand Tools(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Body(20)</div>
                      <div class="as-item"><i class="fa fa-chevron-right mr-3 as-color-7"></i>Drills Head(20)</div>
                    </div> -->
                  </div>
                </div>
                <span class="as-dropdown-toggle"></span>
              </li>



            </ul>
            <!--<div class="as-drop-head">
              <div class="as-drop-img">
              </div>
            </div>-->
          </div>

          <span class="as-dropdown-toggle"></span>
        </li>
        <li class="as-menu-mega-blog">
          <a [routerLink]="'/pages/itemhistory'" routerLinkActive="active">Item History</a>
        </li>
        <li class="as-menu-mega-blog">
          <a [routerLink]="'/pages/productslist'" routerLinkActive="active">Kitting</a>
        </li>
      </ul>
    </div>



    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarText">
      <ul class="navbar-nav animate side-nav sidenav">

        <li class="nav-item">
          <div class="nav-link nav-title as-bold as-color-9">Category </div>
          <hr>
          <a *ngFor="let Categories of categories;let i=index" class="nav-link "
            [ngClass]="{'as-active': selectedItem === Categories}"
            (click)="setval(Categories,i)">{{ Categories.category.category_name }}({{Categories?.sub_category?.length==''?0:Categories?.sub_category?.length }})</a>
            <a *ngIf="category?.length ==0">No Data Available</a>
            <!-- <a class="nav-link">Gage(14)</a>
          <a class="nav-link">Kitting(32)</a>
          <a class="nav-link">Assembly(21)</a>
          <a class="nav-link">Key(15)</a>
          <a class="nav-link">General(20)</a>
          <a class="nav-link">Gage(21)</a>
          <a class="nav-link">Kit(29)</a> -->
        </li>
        <li class="nav-item mt-3" *ngIf="itemhistorykit?.length !=0">
          <div class="nav-link nav-title as-bold as-color-9" [routerLink]="'itemhistory'">Item History</div>
          <hr>
          <a *ngFor="let kitting of itemhistorykit" class="nav-link as-color-9"
            [routerLink]="'itemhistory'">{{ kitting?.kit_name }}({{ kitting?.kit_item_details?.length===''?'0':kitting?.kit_item_details?.length }})</a>
            <a *ngIf="itemhistorykit?.length ==0">No Data Available</a>
          </li>
        <!-- <li class="nav-item mt-3">
          <div class="nav-link nav-title as-bold as-color-8" href="#">Similar Products</div>
          <hr>
          <div class="row flex-wrap-nowrap ">
            <div>
              <div class="as-similar-img" style="background-image: url(../../../../assets/img/Similar.png);"></div>
            </div>
            <div class="as-m12 line-h-12">
              <div class="as-font-16 as-color-5 ">
                Stubby Claw
                Hammer 2
              </div>
              <div class="as-font-12 as-color-2">
                Column ID: 01
              </div>
              <div class="as-font-12 as-color-2">
                Rack: 02
              </div>
            </div>

          </div>
          <div class="row flex-wrap-nowrap">
            <div>
              <div class="as-similar-img" style="background-image: url(../../../../assets/img/Similar.png);"></div>
            </div>
            <div class="as-m12 line-h-12">
              <div class="as-font-16 as-color-5 ">
                Stubby Claw
                Hammer 2
              </div>
              <div class="as-font-12 as-color-2">
                Column ID: 01
              </div>
              <div class="as-font-12 as-color-2">
                Rack: 02
              </div>
            </div>

          </div>
        </li> -->
      </ul>
      <ul class="navbar-nav ml-md-auto d-md-flex">
        <li>

        </li>
        <li class="nav-item d-flex as-nav">
          <!-- 
          <div id="search-container">
            <div class="search-fields">

              <div class="ng-autocomplete">
            <ng-autocomplete  
              [data]="item"
              [searchKeyword]="keyword"
              placeholder="Search..."
              historyIdentifier="item"
              [itemTemplate]="itemTemplate"
              [notFoundTemplate]="notFoundTemplate"
              autocomplete="off">
              
            </ng-autocomplete>
          
            <ng-template #itemTemplate let-item >
              <div class="item"   (click)="search(item._id)" [routerLink]="'/pages/details'">
                <img src="{{ item.image_path }}" height="25">
               
                <small class="ml-40">Product:{{ item.item_name }}</small>
              </div>
            </ng-template>
          
            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>

            </div>
            <button type="button" mat-icon-button class="toggleBtn {{ searchIcon }}" (click)="toggleSearch()">
             
            </button>
          </div> -->
<form autocomplete="off" [formGroup]="myform">
  <i class="fa fa-search srch_ic" aria-hidden="true"></i>
  <input type="search" placeholder="Search" class="form-control top_srch" formControlName="searchvalue" (keyup)="searching($event)" >
 
</form>
          

        </li>
        <li (click)="test()" class="nav-item as-nav" [routerLink]="'/pages/profile'">
          <a class="nav-link">
            <!-- <div class="user-icon"></div> -->
            <img width="35px" height="35px" class="user-icon1" [src]="profile?.profile_pic" style="border-radius: 25px;"
              onError="this.src='../../../assets/img/profile_user_icon.svg'">
          </a>
        </li>
        <li class="nav-item relative as-nav" [routerLink]="'/pages/mycart'" (click)="this.selectedItem=''">
          <a class="nav-link" routerLinkActive="active">
            <div class="addtocart-icon"></div>
          </a>
          <div class="shop-count"><span [innerHTML]="cartProductCount"></span></div>
          <!-- <div class="shop-count">{{ cartListlength==0?'0':cartListlength }}</div> -->
        </li>
        <li class="nav-item as-nav">
          <!-- <a class="nav-link" href="#"><i class="fa fa-power-off" aria-hidden="true"></i></a> -->
          <a class="nav-link" data-toggle="modal" data-target="#myModal2">
            <div class="logout-icon"></div>
          </a>
        </li>
      </ul>
      <div class="as-se-popup" *ngIf="searchdata !=0">
     <div class="as-1">
        <ul *ngFor="let data of searchdata">
          <li><a (click)="search(data._id)">
              <span class="as-2">
                <img class="as-1-img" src="{{data.image_path[0]}}" ></span>
              <p class="as-txt">{{data.item_name}}</p>
            </a></li>
        </ul>
        </div>
      </div>
    </div>
  </nav>
  <!-- POPUP DESIGN Logout -->
  <div class="modal" id="myModal2">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body text-center">
          <div class="logout-popup"></div>
          <div class="as-font-24 as-color-5 my-3">Are you sure, you want to signout?</div>

          <div class="d-grid mb-3 as-mt-2">
            <button class="btn btn-lg btn-primary btn-login  fw-bold mb-2 mr-2" type="button" data-toggle="modal"
              (click)="logout()"  data-dismiss="modal">Yes</button>
            <!--   data-target="#myModal1" -->
            <button class="btn btn-lg btn-secondary btn-login  fw-bold mb-2 ml-2" type="button"
            data-dismiss="modal" >No</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- POPUP DESIGN locker-open -->
  <div class="modal" id="myModal1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body text-center">
          <div class="locker-popup"></div>
          <div class="as-font-24 as-color-5 my-3 as-li-h-14">It seems like one of the locker is open,
            please close before you logout..</div>

          <div class="d-grid mb-3 as-mt-2">
            <button class="btn btn-lg btn-primary btn-login  fw-bold mb-2 " type="button">Close Now</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
