<div class="container-fluid db">

    <div class="sidebar">
    <!-- <ul>
    <li><a [routerLink]="'/pages/dashboard'" routerLinkActive="active"><img src="../../../assets/images/db.png" alt="" title="Dashboard"></a></li>
    <li><a [routerLink]="'/pages/report'" routerLinkActive="active"><img src="../../../assets/images/file.png" alt=""title="Report"></a></li>
    <li><a [routerLink]="'/pages/maintenance'" routerLinkActive="active"><img src="../../../assets/images/bar.png" alt="" title="Service & Machine Maintanence"></a></li>
    <li>
        <div class="dropdown side_bar">
            <div class="dropdown-toggle" data-toggle="dropdown">
                <img src="../../../assets/images/gear.png" alt=""title="Manage">

            </div>
            <ul class="dropdown-menu side_bar">
              <li><a [routerLink]="'/pages/employee'" routerLinkActive="active">Employee</a></li>
              <li><a [routerLink]="'/pages/category'" routerLinkActive="active">Category</a></li>
              <li><a [routerLink]="'/pages/roles'" routerLinkActive="active">Manage Roles</a></li>
              <li><a [routerLink]="'/pages/permissions'" routerLinkActive="active">Manage Permissions</a></li>
              <li><a [routerLink]="'/pages/cube'" routerLinkActive="active">Cube</a></li>
              <li><a [routerLink]="'/pages/itemoncube'" routerLinkActive="active">Item On Cube</a></li>
              <li><a [routerLink]="'/pages/column'" routerLinkActive="active">Column</a></li>
              <li><a [routerLink]="'/pages/compartment'" routerLinkActive="active">Compartment</a></li>
              <li><a [routerLink]="'/pages/item'" routerLinkActive="active">Item</a></li>
              <li><a [routerLink]="'/pages/kitting'" routerLinkActive="active">Kitting</a></li>
              <li><a [routerLink]="'/pages/purchase-order'" routerLinkActive="active">Purchase Order</a></li>
              <li><a [routerLink]="'/pages/supplier'" routerLinkActive="active">Supplier</a></li>
              <li><a [routerLink]="'/pages/branch'" routerLinkActive="active">Branch</a></li>
              <li><a [routerLink]="'/pages/machine-inventory'" routerLinkActive="active">Machine Inventory</a></li>
              <li><a [routerLink]="'/pages/managedepartments'" routerLinkActive="active">Department</a></li>
              <li><a [routerLink]="'/pages/shift-time'" routerLinkActive="active">Shift Time</a></li>
            </ul>
          </div>
    </li>
    <li><a [routerLink]="'/pages/purchase-order'" routerLinkActive="active"><img src="../../../assets/images/invoice.png" alt=""title="Purchase Order"></a></li>
    <li><a [routerLink]="'/pages/analytics'" routerLinkActive="active"><img src="../../../assets/images/pie.png" alt="" title="Analytics"></a></li>
    <li><a [routerLink]="'/pages/logs'" routerLinkActive="active"><img src="../../../assets/images/history.png" alt=""title="Logs"></a></li>    
    </ul> -->


    
    <nav class="sidebar">
      <ul>
        <li><a [routerLink]="'/pages/dashboard'" routerLinkActive="active"><i class="fa fa-desktop fa-2x" style="color: #fff;" aria-hidden="true"></i></a></li>
    <li><a [routerLink]="'/pages/report'" routerLinkActive="active"><i class="fa fa-file-text fa-2x" style="color: #fff;" aria-hidden="true"></i></a></li>
    <li><a [routerLink]="'/pages/maintenance'" routerLinkActive="active"><i class="fa fa-cogs fa-2x" style="color: #fff;" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-cog fa-2x" style="color: #fff;" aria-hidden="true"></i></a>
          <ul class="dropdown-menu side_bar">
            <li class="active"><a  [routerLink]="'/pages/employee'" routerLinkActive="active">Employee</a></li>
              <li><a [routerLink]="'/pages/category'" routerLinkActive="active">Category</a></li>
              <li><a [routerLink]="'/pages/roles'" routerLinkActive="active">Manage Roles</a></li>
              <li><a [routerLink]="'/pages/permissions'" routerLinkActive="active">Manage Permissions</a></li>
              <li><a [routerLink]="'/pages/cube'" routerLinkActive="active">Cube</a></li>
              <li><a [routerLink]="'/pages/itemoncube'" routerLinkActive="active">Item On Cube</a></li>
              <li><a [routerLink]="'/pages/column'" routerLinkActive="active">Column</a></li>
              <li><a [routerLink]="'/pages/compartment'" routerLinkActive="active">Compartment</a></li>
              <li><a [routerLink]="'/pages/item'" routerLinkActive="active">Item</a></li>
              <li><a [routerLink]="'/pages/kitting'" routerLinkActive="active">Kitting</a></li>
              <li><a [routerLink]="'/pages/purchase-order'" routerLinkActive="active">Purchase Order</a></li>
              <li><a [routerLink]="'/pages/supplier'" routerLinkActive="active">Supplier</a></li>
              <li><a [routerLink]="'/pages/branch'" routerLinkActive="active">Branch</a></li>
              <li><a [routerLink]="'/pages/machine-inventory'" routerLinkActive="active">Machine Inventory</a></li>
              <li><a [routerLink]="'/pages/managedepartments'" routerLinkActive="active">Department</a></li>
              <li><a [routerLink]="'/pages/shift-time'" routerLinkActive="active">Shift Time</a></li>
          </ul>
        </li>
        <li><a [routerLink]="'/pages/purchase-order'" routerLinkActive="active"><i class="fas fa-sticky-note fa-2x" style="color: #fff;"></i></a></li>
    <li><a [routerLink]="'/pages/analytics'" routerLinkActive="active"><i class="fa fa-pie-chart fa-2x" style="color: #fff;" aria-hidden="true"></i></a></li>
    <li><a [routerLink]="'/pages/logs'" routerLinkActive="active"><i class="fa fa-history fa-2x" style="color: #fff;" aria-hidden="true"></i></a></li> 
      </ul>
    </nav>
</div>
</div>

