<div class="container-fluid as-mt-main">
  <div class="as-bg" style="background-image: url(../../../assets/img/bg1.png);">
  </div>
  <div class="m-auto d-flex as-user-bg">
    <div class="as-shadow asbg-1">
      <div class="as-user" style="background-image: url(../../../assets/img/user.png);">
      </div>
      <div class="m-auto text-center">
        <label>Robin Danials</label>
      </div>
      <div class="row justify-content-center">
        <div><i class="fa fa-clock-o"></i> <span class="as-color-2 mt-3 as-font-16  mr-2 ml-1">
            7:30PM
          </span> </div>
        <div><i class="fa fa-map-marker"></i> <span class="as-color-2 mt-3 as-font-16  mr-2 ml-1">
            Coimbatore
          </span> </div>
        <div class="mr-2"><i class="fa fa-calendar"></i> <span class="as-color-2 mt-3 as-font-16  mr-2 ml-1">
            Joined 2021
          </span> </div>

      </div>
    </div>
    <div class="as-shadow asbg-2">
      <div class="as-border-bottom"> <label> Profile Settings </label></div>
      <div class="row mt-4">
        <div class="col-md-6 ">
          <div class="form-floating mb-3">
            <!-- <input type="email" class="form-control" id="floatingInput" placeholder="Username" > -->
         <label>Username:{{profile?.first_name + profile?.last_name}}</label>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="form-floating mb-3">
            <!-- <input type="email" class="form-control" id="floatingInput" placeholder="Employee ID"> -->
            <label>Employee ID:{{profile?.employee_id}}</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating mb-3">
            <label>Language:------</label>
            <!-- <input type="email" class="form-control" id="floatingInput" placeholder="Language"> -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating mb-3">
            <label>DOB:{{profile?.date_of_birth| date: 'dd/MM/yyyy'}}</label>
            <!-- <input type="email" class="form-control" id="floatingInput" placeholder="DOB"> -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating mb-3">
            <label>Gender:-----</label>
            <!-- <input type="email" class="form-control" id="floatingInput" placeholder="Gender"> -->
          </div>
        </div>
      </div>

      <div class="as-border-bottom mt-3"> <label> Change Password </label></div>
      <div class="row mt-4">
        <div class="col-md-6 ">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="Old Password">
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="New Password">
          </div>
        </div>

      </div>
      <div class="d-grid text-right">
        <button class="btn btn-primary fw-bold mb-2" type="button">Change Password </button>

      </div>
    </div>

  </div>
</div>
