<!--<ngx-spinner  size="default" type="ball-spin-clockwise">  
  <p style="color: white">Please Wait. </p>  
  </ngx-spinner> --> 
<div class="container-fluid as-mt-main profile">
  <div class="as-bg" style="background-image: url(../../../assets/img/bg1.png);">
  </div>
  <div class="m-auto d-flex as-user-bg">
    <div class="as-shadow asbg-1">
      <div class="as-user">
        <img  src="{{profile?.profile_pic}}" class="as-fit" height="200" width="200px" onError="this.src='../../../assets/img/user.png'"> 
      </div>
      <div class="mx-auto text-center pt-3 mb-4">
        <label class="as-font-36 ">{{profile?.employee_id}}</label>
      </div>
      <div class="row justify-content-center">
        <div><i class="fa fa-clock-o"></i> <span class="as-color-2 mt-3 as-font-16  mr-2 ml-1">
          {{profiledetails?.created_at | date:" h:mm a"}}<!--{{profiledetails?.created_at| date:'shortTime'}}-->
          </span> </div>
        <div><i class="fa fa-map-marker"></i> <span class="as-color-2 mt-3 as-font-16  mr-2 ml-1">
          {{this.profile?.city_id?.name}}
          </span> </div>
        <div class="mr-2 as-calendar"><i class="fa fa-calendar"></i> <span class="as-color-2 mt-3 as-font-16  mr-2 ml-1">
            Joined {{profiledetails?.created_at| date:'yyyy'}}
          </span> </div>

      </div>
    </div>
    <div class="as-shadow asbg-2">
      <div class="as-border-bottom"> <label class="as-font-24 mb-3"> Profile Settings </label></div>
      <div class="row mt-4">
        <div class="col-md-6 ">
          <div class="form-floating mb-3">
            <!-- <input type="email" class="form-control" id="floatingInput" placeholder="Username" > -->
            <div class="as-font-16 as-bold ">
              <label>Username</label>
            </div>
            <div class="as-font-16">
              <label>{{profile?.first_name + profile?.last_name}}</label>
            </div>
         
        
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="form-floating mb-3">
            <!-- <input type="email" class="form-control" id="floatingInput" placeholder="Employee ID"> -->
            <div class="as-font-16 as-bold ">
              <label>Employee ID</label>
            </div>
           <div  class="as-font-16">
            <label>{{profile?.employee_id}}</label>
           </div>
           
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="form-floating">
            <div class="as-font-16 as-bold ">
              <label>Language</label>
            </div>
           <div class="as-font-16">
            <label>{{this.profile?.language_prefered?.language}}</label>
           </div>
           
            <!-- <input type="email" class="form-control" id="floatingInput" placeholder="Language"> -->
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="form-floating ">
            <div class="as-font-16 as-bold ">
              <label >DOB</label>
            </div>
            <div class="as-font-16">
              <label>{{profile?.date_of_birth| date: 'dd/MM/yyyy'}}</label>
            </div>
           
            <!-- <input type="email" class="form-control" id="floatingInput" placeholder="DOB"> -->
          </div>
        </div>
        <!-- <div class="col-md-6">
          <div class="form-floating mb-3">
            <label>Gender:-----</label>
            <input type="email" class="form-control" id="floatingInput" placeholder="Gender"> 
          </div>
        </div>-->
      </div>

      <div class="as-border-bottom mt-4"> <label class="as-font-24 mb-3"> Change Password </label></div>
      <div class="row mt-4" [formGroup]="cpForm">
        <div class="col-md-6 ">
          <div class="form-floating mb-3">
            <input type="Password"  #password1 class="form-control" id="floatingInput" placeholder="Old Password" formControlName="oldpassword">
             <i (click)="changeType1(password1)" class="as-eye pointer" [ngClass]="toggle1 ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="form-floating mb-3">
            <input type="Password"  #password2 class="form-control" id="floatingInput" placeholder="New Password" formControlName="newpassword">
            <i (click)="changeType2(password2)" class="as-eye pointer" [ngClass]="toggle2 ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
          </div>
        </div>

      </div>
      <div class="d-grid text-right mt-3">
        <button class="btn btn-primary fw-bold" type="button" (click)="changepwd()" [disabled]="!cpForm.valid" >Change Password </button>

      </div>
    </div>

  </div>
</div>
