
<!-- <ngx-spinner  size="default" type="ball-spin-clockwise"> 
    <p style="color: white">Please Wait. </p>  
    </ngx-spinner>   -->
<div class="container-fluid as-mt-main">
    <div class="as-header">
        <div class="as-title">
            {{categoryName}} 
        </div>
        <div class="row as-color-1">
            <div class="as-font-14">
                <mat-paginator [length]="subcategories.length"
                [pageSize]="size"
                [pageIndex]="page"
                [pageSizeOptions]="[4, 8, 12]"
                (page)="getData($event)">
                </mat-paginator>
            </div>
            <div class="mr-3 pointer  as-g-active view-active d-none" (click)="gridview()">
                <i class="fa fa-th" aria-hidden="true"></i>
            </div>
            <div class="mr-3 pointer  as-l-active d-none" (click)="listview()">
                <i class="fa fa-list" aria-hidden="true"></i>
            </div>
        </div>
    </div>
   

   
    <div class="row ml-0 as-grid">
      <div class="as-card " *ngFor="let category of data ">
        <!--<div class="as-home-img" style="background: url({{category?.image_path}});"  (click)="selectcategory(category)"></div>-->
         <img class="as-home-img" src="{{category?.image_path}}" (click)="selectcategory(category)"> 
        <a class="as-crd-title" (click)="selectcategory(category)">{{category?.sub_category_name}}</a>  
    </div>
    <ng-container *ngIf="data?.length == 0">
        <div class="no_data_msg">No Data Avaliable</div>
      </ng-container>
    </div>
 
    <!-- <div id="google_translate_element" class="d-none"></div> -->

   