

<div class="container-fluid as-mt-main">
    <div class="as-header">
        <div class="as-title">
            {{categoryName}} 
        </div>
        <div class="row as-color-1">
            <div class="mr-3 as-font-14">
                Items 1-20 of 40
            </div>
            <div class="mr-3 pointer  as-g-active view-active" (click)="gridview()">
                <i class="fa fa-th" aria-hidden="true"></i>
            </div>
            <div class="mr-3 pointer  as-l-active" (click)="listview()">
                <i class="fa fa-list" aria-hidden="true"></i>
            </div>
        </div>
    </div>
   
<div class="row ml-0 as-grid">
    <div class="as-card" *ngFor="let category of subcategories">
        <div class="as-home-img" style="background: url({{category?.image_path}});"  (click)="selectcategory(category)"></div>
        <a class="as-crd-title" (click)="selectcategory(category)">{{category?.sub_category_name}}</a>
    </div>
</div>
