<div class="container-fluid as-mt-main product-li pt-1">
  <div class="as-header as-px-15 px-0 my-3">
    <div class="as-title ">
      Kitting
    </div>
    <div class="row as-color-1">
      <div class=" as-font-14">
          <mat-paginator [length]="kit.length"
          [pageSize]="size"
          [pageIndex]="page"
          [pageSizeOptions]="[4, 8, 12]"
          (page)="getData($event)">
          </mat-paginator>
      </div>
      <div class="mr-3 pointer  as-g-active view-active d-none" (click)="gridview()">
          <i class="fa fa-th" aria-hidden="true"></i>
      </div>
      <div class="mr-3 pointer  as-l-active d-none" (click)="listview()">
          <i class="fa fa-list" aria-hidden="true"></i>
      </div>
  </div>
  </div>
  <div class="col-md-12 as-mt-2 px-0 as-grid">
    <div class="row ">
      <div class="col-md-6" *ngFor="let data of data">
        <div class="as-item-box" >
          <div class="d-flex justify-content-between align-items-center">
            <div class="as-font-24">{{data?.kit_name}}</div>
            <div class="row align-items-center mx-0">
              <div class="mr-3">
                <button type="button" class="btn bg-white btn-round btn-light">Take Now</button>
              </div>
              <div class="">

                <button type="button" class="btn bg-white btn-round btn-light addtocart-icon addtocart-btn" (click)="addkitcart(data._id)"></button>
              </div>
            </div>
          </div>
          <div class="bg-white mx-1 my-3 row as-text-flex as-pro-py" *ngFor="let items of data?.kit_data">
            <div class="pr-list-w-100">
              <div class="as-productlst-img" style="background-image: url({{items?.item.image_path}});"></div>
            </div>
            <div>
              <div class="as-font-18 as-bold as-color-4 line-height-13">
                {{items?.item?.item_name}}({{items?.quantity}})
              </div>
              <div class="as-color-2 mt-3 as-font-16">
                <span>
                  Machine: {{items?.cube?.cube_name}}
                </span>
                <span>
                  Column ID: {{items?.bin?.bin_id}}
                </span>
                <span>
                  Rack: {{items?.compartment?.compartment_id}}
                </span>
              </div>
            </div>
          </div>

        </div>

      </div>
   <!--   <div class="col-md-6 ">
        <div class="as-item-box">
          <div class="d-flex justify-content-between align-items-center">
            <div class="as-font-24">Item Kit01</div>
            <div class="row align-items-center mx-0">
              <div class="mr-3">
                <button type="button" class="btn bg-white btn-round btn-light">Take Now</button>
              </div>
              <div class="">

                <button type="button" class="btn bg-white btn-round btn-light addtocart-icon addtocart-btn"></button>
              </div>
            </div>
          </div>
          <div class="bg-white mx-1 my-3 row as-text-flex as-pro-py">
            <div class="pr-list-w-100">
              <div class="as-productlst-img" style="background-image: url(../../../assets/img/tools.png);"></div>
            </div>
            <div>
              <div class="as-font-18 as-bold as-color-4 line-height-13">
                Multi Function Wrench Spanner Tool (9mm to 32 mm)
              </div>
              <div class="as-color-2 mt-3 as-font-16">
                <span>
                  Machine: 01
                </span>
                <span>
                  Column ID: 01 
                </span>
                <span>
                  Rack: 02
                </span>
              </div>
            </div>
          </div>

          <div class="bg-white mx-1 my-3 row as-text-flex as-pro-py">
            <div class="pr-list-w-100">
              <div class="as-productlst-img" style="background-image: url(../../../assets/img/tools.png);"></div>
            </div>
            <div>
              <div class="as-font-18 as-bold as-color-4 line-height-13">
                Multi Function Wrench Spanner Tool (9mm to 32 mm)
              </div>
              <div class="as-color-2 mt-3 as-font-16">
                <span>
                  Machine: 01
                </span>
                <span>
                  Column ID: 01 
                </span>
                <span>
                  Rack: 02
                </span>
              </div>
            </div>
          </div>

          <div class="bg-white mx-1 my-3 row as-text-flex as-pro-py">
            <div class="pr-list-w-100">
              <div class="as-productlst-img" style="background-image: url(../../../assets/img/tools.png);"></div>
            </div>
            <div>
              <div class="as-font-18 as-bold as-color-4 line-height-13">
                Multi Function Wrench Spanner Tool (9mm to 32 mm)
              </div>
              <div class="as-color-2 mt-3 as-font-16">
                <span>
                  Machine: 01
                </span>
                <span>
                  Column ID: 01 
                </span>
                <span>
                  Rack: 02
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6 ">
        <div class="as-item-box">
          <div class="d-flex justify-content-between align-items-center">
            <div class="as-font-24">Item Kit01</div>
            <div class="row align-items-center mx-0">
              <div class="mr-3">
                <button type="button" class="btn bg-white btn-round btn-light">Take Now</button>
              </div>
              <div class="">

                <button type="button" class="btn bg-white btn-round btn-light addtocart-icon addtocart-btn"></button>
              </div>
            </div>
          </div>
          <div class="bg-white mx-1 my-3 row as-text-flex as-pro-py">
            <div class="pr-list-w-100">
              <div class="as-productlst-img" style="background-image: url(../../../assets/img/tools.png);"></div>
            </div>
            <div>
              <div class="as-font-18 as-bold as-color-4 line-height-13">
                Multi Function Wrench Spanner Tool (9mm to 32 mm)
              </div>
              <div class="as-color-2 mt-3 as-font-16">
                <span>
                  Machine: 01
                </span>
                <span>
                  Column ID: 01 
                </span>
                <span>
                  Rack: 02
                </span>
              </div>
            </div>
          </div>

          <div class="bg-white mx-1 my-3 row as-text-flex as-pro-py">
            <div class="pr-list-w-100">
              <div class="as-productlst-img" style="background-image: url(../../../assets/img/tools.png);"></div>
            </div>
            <div>
              <div class="as-font-18 as-bold as-color-4 line-height-13">
                Multi Function Wrench Spanner Tool (9mm to 32 mm)
              </div>
              <div class="as-color-2 mt-3 as-font-16">
                <span>
                  Machine: 01
                </span>
                <span>
                  Column ID: 01 
                </span>
                <span>
                  Rack: 02
                </span>
              </div>
            </div>
          </div>

          <div class="bg-white mx-1 my-3 row as-text-flex as-pro-py">
            <div class="pr-list-w-100">
              <div class="as-productlst-img" style="background-image: url(../../../assets/img/tools.png);"></div>
            </div>
            <div>
              <div class="as-font-18 as-bold as-color-4 line-height-13">
                Multi Function Wrench Spanner Tool (9mm to 32 mm)
              </div>
              <div class="as-color-2 mt-3 as-font-16">
                <span>
                  Machine: 01
                </span>
                <span>
                  Column ID: 01 
                </span>
                <span>
                  Rack: 02
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6 ">
        <div class="as-item-box">
          <div class="d-flex justify-content-between align-items-center">
            <div class="as-font-24">Item Kit01</div>
            <div class="row align-items-center mx-0">
              <div class="mr-3">
                <button type="button" class="btn bg-white btn-round btn-light">Take Now</button>
              </div>
              <div class="">

                <button type="button" class="btn bg-white btn-round btn-light addtocart-icon addtocart-btn"></button>
              </div>
            </div>
          </div>
          <div class="bg-white mx-1 my-3 row as-text-flex as-pro-py">
            <div class="pr-list-w-100">
              <div class="as-productlst-img" style="background-image: url(../../../assets/img/tools.png);"></div>
            </div>
            <div>
              <div class="as-font-18 as-bold as-color-4 line-height-13">
                Multi Function Wrench Spanner Tool (9mm to 32 mm)
              </div>
              <div class="as-color-2 mt-3 as-font-16">
                <span>
                  Machine: 01
                </span>
                <span>
                  Column ID: 01 
                </span>
                <span>
                  Rack: 02
                </span>
              </div>
            </div>
          </div>

          <div class="bg-white mx-1 my-3 row as-text-flex as-pro-py">
            <div class="pr-list-w-100">
              <div class="as-productlst-img" style="background-image: url(../../../assets/img/tools.png);"></div>
            </div>
            <div>
              <div class="as-font-18 as-bold as-color-4 line-height-13">
                Multi Function Wrench Spanner Tool (9mm to 32 mm)
              </div>
              <div class="as-color-2 mt-3 as-font-16">
                <span>
                  Machine: 01
                </span>
                <span>
                  Column ID: 01 
                </span>
                <span>
                  Rack: 02
                </span>
              </div>
            </div>
          </div>

          <div class="bg-white mx-1 my-3 row as-text-flex as-pro-py">
            <div class="pr-list-w-100">
              <div class="as-productlst-img" style="background-image: url(../../../assets/img/tools.png);"></div>
            </div>
            <div>
              <div class="as-font-18 as-bold as-color-4 line-height-13">
                Multi Function Wrench Spanner Tool (9mm to 32 mm)
              </div>
              <div class="as-color-2 mt-3 as-font-16">
                <span>
                  Machine: 01
                </span>
                <span>
                  Column ID: 01 
                </span>
                <span>
                  Rack: 02
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>-->
  </div>

</div>
