/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body,
.mat-body,
.mat-body-1,
.mat-typography {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 18px;
  // height: 100vh;
  // color: #717171;
  color: #3b3b3b;
  background: #fcfcfc;
}

h1,
h2,
h3,
h4,
h5,
button,
input,
optgroup,
select,
textarea {
  font-family: 'Red Hat Text', sans-serif !important;
}

.mat-paginator,
.mat-paginator-page-size .mat-select-trigger {
  font-family: 'Red Hat Text', sans-serif !important;
  font-size: 14px;
}

.fa {
  font-family: FontAwesome !important;
}

::-webkit-scrollbar {
  width: 6px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
  background: #10a1d1;
}


::-webkit-scrollbar-thumb:hover {
  background: #0a8db9;
}

.as-mt-main {
  // margin-top: 70px;
  // margin-top: 90px;
  // width: 80%;
  // margin-left: 236px;
  margin-top: 50px;
  width: 80%;
  // width: 87%;

  float: right;
  padding-right: 50px;
  // padding-left: 50px;
  transition: all .3s linear;
  padding-bottom: 60px;
}

.login {
  min-height: 100vh;
}

.bg-image {

  // background-image: url(img/login.png);
  background-image: url(assets/img/login.png);
  background-size: cover;
  background-position: center;
}

.logo-image {

  // background-image: url(img/SEQUR-RX_logo.png);
  background-image: url(assets/img/SEQUR-RX_logo.png);
  background-size: contain;
  background-position: 31%;
  height: 50px;
  background-repeat: no-repeat;
  position: absolute;
  top: 90px;
  width: 100%;
}

.login-heading {
  font-weight: 400;
  font-size: 22px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #717171 !important;
  -webkit-text-size-adjust: 18px;
  font-size: 18px;
}

.btn-login {
  // font-size: 0.9rem; 
  letter-spacing: 0.03rem;
  border-radius: 14px;
  font-weight: 500;
  padding: 8px 26px;

}

.as-eye {
  position: absolute;
  top: 9px;
  right: 0;
}

.form-control {

  border: 0;
  // border-bottom: 1px solid #707070;
  border-bottom: 1px solid #dedede;
  border-radius: inherit;
}

.form-control:focus {

  // border-color: #707070;
  border-color: #dedede;
  box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%);
}

.btn {
  border-radius: 10px;
}

.btn-primary {
  color: #fff;
  background-color: #5092ff;
  border-color: #5092ff;
}

.modal-header {
  border-bottom: 0px solid #dee2e6;
}

.modal-footer {
  border-top: 0px solid #dee2e6;
}

.main-footer {
  text-align: center;
  font-size: 12px;
  background: #f5f5f5;
  padding: 16px;
  height: 46px;
}

.navbar-expand-lg .navbar-nav.side-nav {
  flex-direction: column;
  transition: all .3s linear;
}

.navbar-expand-lg .navbar-nav.side-nav .nav-link.as-active {
  color: #2a96c7 !important;
  cursor: pointer;
}

.header-top {
  //box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
  border-bottom: 1px solid #ebebeb;
  }

.leftmenutrigger,
.blocker {
  display: none
}

@media(min-width:992px) {
  .leftmenutrigger {
    display: block;
    display: block;
    margin: 7px 20px 4px 0;
    cursor: pointer;

    background-size: 30px
  }

  #wrapper {
    padding: 90px 15px 15px 15px;
  }

  .navbar-nav.side-nav {
    left: 0;
  }

  .blocker {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 5;
    display: none
  }

  .blocker {
    display: block
  }

  .navbar-nav.side-nav {
    /* background: #585f66; */
    box-shadow: 2px 1px 2px rgba(0, 0, 0, .1);
    position: fixed;
    top: 60px;
    flex-direction: column !important;
    // left: -220px;
    left: 0;
    width: 272px;
    overflow-y: auto;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    background: white;
  }
}

.animate {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.logo-img {

  // background-image: url(img/SEQUR-RX_logo.png);
  background-image: url(assets/img/SEQUR-RX_logo.png);
  height: 44px;
  background-repeat: no-repeat;
  width: 18%;
  background-size: 100%;
  background-position: center;
}

.shop-count {
  position: absolute;
  top: 5px;
  font-size: 13px;
  width: 22px;
  height: 22px;
  background: black;
  color: white;
  text-align: center;
  border-radius: 100%;
  font-weight: 800;
  right: 5px;
  line-height: 21px;
}

.relative {
  position: relative;
}

.as-crd-title {
  cursor: pointer;
}

.as-card {
  // width: 21%;
  /* max-width: 25%; */
  // max-width: 17%;
  // max-width: 21.3%;
  // max-width: 241px;
  /* border: 1px solid lightgray; */
  width: 33%;
  max-width: 285px;
  box-shadow: 0px 0px 21px 1px #f7f7f7;
  border: 1px solid #daebf1;
  margin: 20px;
  text-align: center;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  background: #fff;
}

// .activemenu .as-card {
//   // max-width: 228px;
//   max-width: 275px;
// }

.as-crd-title {
  background: #666666;
  color: white;
  position: absolute;
  bottom: 9px;
  align-items: center;
  width: 94%;
  padding: 14px 4px 14px 16px;
  text-align: left;
  left: 9px;
  opacity: .8;

}

.as-title {
  font-size: 30px;
  /* color: #797979; 
  color: #868484;*/
  color: #6a6969;
}

.as-color-1 {
  color: #868484;
}

.as-color-2 {
  color: #6e9dbf;
}

.as-color-3 {
  color: #717171
}

.as-color-4 {
  color: #545252;
}

.as-color-5 {
  color: #1e1e1e
}

.as-color-6 {
  color: #404040
}

.as-color-7 {
  color: #949494
}

.as-color-8 {
  color: #494949;
}

.as-color-9 {
  color: #3b3b3b !important;
}

.as-bold {
  font-weight: 500;
}

.as-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0px 6px 0;
  padding-left: 15px;
  padding-right: 15px;
}

.as-light-bg,
.btn-light {
  background-color: #efefef;
}

.btn-round {
  border-radius: 25px;
}

.line-h-12 {
  line-height: 1.2;
}

.as-product-img {
  // height: 120px;
  // height: 185px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

input {
  outline: -webkit-focus-ring-color auto 0px;
}

.as-product-img-pop {
  height: 80px;
  background-size: 78%;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid lightgray;
  width: 80%;
  margin-left: 16px;
}

.as-productlst-img {
  height: 110px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  // margin: 0 40px 0 14px;
  margin: 0 14px 0 0px;
  object-fit: contain;
}

.as-font-18 {
  font-size: 18px;
}

.as-font-14 {
  font-size: 14px;
}

.as-font-16 {
  font-size: 16px;
}

.as-font-24 {
  font-size: 20px;
  font-weight: 500;
}

.as-font-20 {
  font-size: 20px;
}

.as-font-36 {
  font-size: 36px;
}

.as-font-12 {
  font-size: 12px;
}

.as-m12 {
  margin: 12px;
}


.as-text-flex {
  align-items: center;
  flex-wrap: nowrap;
  box-shadow: 0 0 8px 1px lightgrey;
  border: 1px solid #dbebf1;
}

.as-px-15 {
  padding-right: 15px;
  padding-left: 15px;
}

.btn-outline-info {
  border-color: #abc1d5;
  color: black;
}

.as-item-box {
  background: #f7f7f7;
  padding: 10px 15px;
  border: 1px solid #adc2d6;
  margin-bottom: 2rem;
  // max-height: 70vh;
  overflow: overlay;
  // min-height: 70vh;
  height: auto;
}

.search-icon {
  background-image: url(assets/img/search_icon.svg);
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 42px;
  margin-top: -8px;
}


.user-icon {
  background-image: url(assets/img/profile_user_icon.svg);
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: center;
  cursor: pointer;
}

.user-icon1 {
  width: 33px;
  aspect-ratio: auto 59 / 75;
  height: 33px;
  margin-top: 4px;
  margin-right: -12px;
  cursor: pointer;
  object-fit: cover;
}

.addtocart-icon {
  background-image: url(assets/img/addtocarticon.svg);
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  cursor: pointer;
}

.logout-icon {
  background-image: url(assets/img/power-button.svg);
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}

// .navbar-expand-lg .navbar-nav .nav-link {
//   padding-right: .25rem;
//   padding-left: .25rem;
// }
.as-details-title {
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: #1e1e1e;
}

.as-details-txt {
  margin: 16px 30px 16px 10px;
  border-right: 2px solid #d6d6d6;
  padding-right: 16px;
  color: #1e1e1e;
}

.as-details-txt:nth-child(3) {

  border: none;
}

.as-details-border {
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 20px;
  padding-top: 20px;
}

.as-check {
  position: absolute;
  top: 10px;
  right: 10px;
}

.as-history {
  display: flex;
  margin: 0 15px;
  background: white;
  padding: 10px 15px;
  border-radius: 25px;
}

.as-history1 {
  display: flex;

}

.as-border-bottom {
  border-bottom: 1px solid lightgray;
}

.as-w-60 {
  width: 60%;
}

.as-w-15 {
  width: 15%;
}

// Popup
.modal-content {
  border-radius: 16px;
}

.modal {
  top: 100px;
}

.modal-header {
  padding: 1rem 1rem 0 1rem;
}

.modal-body {
  padding: 0 1rem 1rem 1rem;
}

.login-popup {
  background-image: url(assets/img/login-popup.svg);
  height: 128px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 27%;
}

.logout-popup {
  background-image: url(assets/img/dore-open.svg);
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

.locker-popup {
  background-image: url(assets/img/locker-open.svg);
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

.as-mt-2 {
  margin-top: 2rem !important;
}

// Nave Bar expand
.navbar-nav.side-nav.sidenav.sidebar-hidden {
  // display: none;
  opacity: 0;
  width: 0;
  left: -57px;
}

.activemenu .as-mt-main {
  margin-left: 0px;
  width: 100%;
  padding: 0 50px;
}

.as-bg-1 {
  background-color: #f7f7f7;
  padding: 25px 0px 25px 12px;
  height: 53vh;
}

.dropdown-header {
  background-color: white;
  font-size: 1rem;
}

.dropdown-menu.show {
  padding: 0;
  margin: 0;
  border-top: 3px solid blue
}

.as-drop-head {

  padding: 25px 0px 25px 12px;
}

.as-drop-img {
  background-image: url(assets/img/dropdown.png);
  height: 55vh;
  width: 15rem;
  background-size: 94%;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  z-index: 101;
  position: fixed;
  right: 15.5vw;
}

.navbar a {
  color: #717171;
}

.navbar .dropdown-menu {

  left: 100px;
}

.navbar .dropdown-toggle::after {
  display: none;
}


input:-webkit-autofill::first-line {
  font-size: 18px;
  font-weight: 400 !important;
}

.as-card a:hover {
  color: white;
}

.nav-title {
  border-bottom: 1px solid #dadada;
}

.side-nav {
  padding: 20px;
}


.navbar-expand-lg .navbar-nav.side-nav .nav-link {
  padding-right: 0rem;
  padding-left: 0rem;
}

.side-nav hr {
  margin: 0;
  background: blue;
  border-top: 3px solid #10a1d1;
  width: 35px;
  margin-top: -3px;
}

.navbar-expand-lg .navbar-nav.side-nav .nav-link:nth-child(3) {
  margin-top: 1rem;
}

.as-height {
  height: 44vh;
}

.line-height-13 {
  line-height: 1.3;
}

.activemenu .as-mt-main.mycart {
  margin-left: 0px;
  width: 100%;
  padding: 0rem 3rem;
}

// .mycart .as-card {
//   max-width: 280px;
// }

.as-sp .row:nth-child(3) {
  margin-top: 15px;
}

// .activemenu .mycart .as-card {
//   max-width: 267px;
// }

.i-history .as-card {
  /* max-width: 25%; */
  /* border: 1px solid lightgray; */
  width: 33%;
  max-width: 286px;
  padding: 1rem;
}

.activemenu .as-mt-main.i-history {

  padding: 0 4rem;
}

// .activemenu .i-history .as-card {

//   width: 33%;
//   max-width: 265px;
// }





button:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

.side-nav .nav-item a {
  font-size: 16px;
  color: #6a6969 !important;
}

.navbar a {

  color: #2d2d2d;
  font-weight: 500;
}

// Serch box




.main-footer a {
  color: #6a6969;
}

.as-li-h-14 {
  line-height: 1.4;
}

.as-similar-img {
  height: 70px;
  width: 70px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 8px 1px #e0dfdf;
  border: 1px solid #daebf1;
  margin: 12px;
}

.flex-wrap-nowrap {
  flex-wrap: nowrap;
}

.pointer {
  cursor: pointer;
}

.as-g-active.view-active i {
  color: #1a73e9;
}

.as-l-active.view-active i {
  color: #1a73e9;
}

.as-list .as-card {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  // justify-content: space-around;
}

.as-list .as-product-img {
  height: 125px;
  width: 150px;
}

.product.as-card {
  width: 33%;
  max-width: 283px;
}

// .activemenu .product .as-card {
//   width: 33%;
//   max-width: 268px;
//   }
.as-list .as-crd-title {
  width: 98%;
  text-align: center;
}

.as-list .as-productlst-img {
  height: 140px;

  width: 158px;
  margin: 12px 14px 0 0px;
}

.as-list .as-text-flex {

  flex-direction: column;
}

.product-li .as-list .as-color-2 {
  text-align: center;
  ;
}

.as-list .as-card.py-3 {
  padding-bottom: 0 !important;
  padding-top: .7rem !important;
}

.as-list .as-card {

  margin: 10px;
}

.as-home-img {
  // height: 39vh;
  // background-position: -14px 2px !important;
  // background-repeat: no-repeat !important;
  // background-size: contain !important;
  // width: 19vw;
  // height: 28vh;
  background-position: bottom !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 39vh;
  margin-bottom: 14px;

}

.as-pro-py {
  padding-left: .5rem;
  padding-right: .5rem;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #1a73e9;
}

.as-width-60 {
  width: 60px;
}

.as-card-width1,
.as-card-width2,
.as-card-width3 {
  width: auto;
  justify-content: space-between;
}

.my-2.text-left.as-bold.as-color-4.as-card-width2 {
  text-align: center;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  background: #f5f5f5;
  padding: 16px;
  height: 46px;
}

.activemenu .footer {
  width: 100%;
}

.footer a {
  color: #6a6969;
}

.as-category-scroll {
  overflow: auto;
  direction: rtl;
  overflow-x: hidden !important;
}

.autocomplete-container .suggestions-container ul li {
  margin: 30px 20px !important;
}

.as-list .as-card-width1 {
  width: 25%;
  margin-right: 14px;
}

.asbg-1 {
  height: fit-content !important;
  padding-bottom: 50px;
}


.as-list .as-card-width2 {
  width: 55%;
}

.as-list .as-card-width3 {
  width: 33%;
}

.activemenu .as-list .as-card-width1 {
  width: 20%;
  margin-right: 14px;
}

.activemenu .as-list .as-card-width2 {
  width: 67%;
}

.as-card img {
  width: 100%;
  height: 12rem;
}

// Tab Design
.as-nodata {
  position: absolute;
  top: 50%;
  right: 0%;
}

a.as-crd-title-new {
  width: 100%;
  padding: 13px;
  font-size: 1.5rem;
  background: #9f9f9f;
  display: block;
  color: #fff;
  margin-bottom: 11px;
  cursor: pointer;
}

input.pop {
  width: 70%;
  border: 1px solid #c0c0c0;
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 20px;
}

.as-shadow.asbg-1 .row.justify-content-center {
  align-items: end;
}

@media (min-width:1200px) {
  .as-drop-img {
    right: 12vw;
  }

  // .as-card {
  //   /* max-width: 25%; */
  //   /* border: 1px solid lightgray; */
  //   width: 22%;
  // }
}

@media (min-width:1366px) {
  .as-drop-img {
    right: 15.5vw;
  }

  .as-card {
    width: 33%;
  }

  .activemenu .as-card {

    width: 21%;
  }

  .as-g-active,
  .as-l-active {
    margin-top: 22px;
  }

  .mycart .as-header .form-check {

    margin-top: 20px;
  }

  .mycart .as-header .row.as-color-1 .mr-5 {
    margin-top: 20px;
  }
}

@media (min-width:1536px) {
  .as-drop-img {
    right: 33.5vw;
  }

  .as-card,
  .i-history .as-card {
    width: 61%;
    max-width: 325px;
  }
}

@media (min-width:1920px) {
  .autocomplete-container .input-container input {

    font-size: 2rem !important;
  }

  .mycart .as-header .row.as-color-1 .mr-5 {
    margin-top: 35px;
  }

  .login-popup {
    
    background-size: unset;
}

.row.mt-5 {
  margin-top: 80px;
}

  .user-icon1 {
    width: 50px;
    aspect-ratio: auto 59/75;
    height: 50px;
    margin-top: -6px;
    margin-right: -12px;
    cursor: pointer;
    -o-object-fit: cover;
    object-fit: cover;

  }

  .search-icon {
    background-size: 64px;
  }

  .footer {
    font-size: 1.5rem;
  }

  .modal-header .close {
    font-size: 2.2rem;
  }

  .as-font-20 {
    font-size: 1.8rem;
  }

  .as-font-16 {
    font-size: 20px;
  }

  .login-heading.mb-4 {
    margin-bottom: 60px !important;
}

  .as-font-24 {
    font-size: 2.1rem;
  }

  .as-calendar {
    margin-top: 2rem;
  }

  .logout-popup {
    height: 180px;
  }

  .shop-count {
    position: absolute;
    top: 4px;
    font-size: 17px;
    width: 25px;
    height: 25px;
    background: black;
    color: white;
    text-align: center;
    border-radius: 100%;
    font-weight: 800;
    right: 3px;
    line-height: 1.5;
  }

  .mycart .form-group.form-check {
    margin-top: 0.5rem;
  }

  .as-details-txt .as-font-18.as-bold {
    margin-bottom: 10px;
}

  .mycart .mr-5 {
    margin-top: 2.3rem;
  }

  .mat-checkbox-inner-container {
    height: 30px !important;
    width: 30px !important;
  }

  .as-menu-as-drophover-header .as-menu .as-menu-mega-blog {
    margin-right: 20px;
  }

  .as-nav {
    margin-left: 20px;
  }

  label {
    line-height: 1.5;
  }

  .login-heading {
    font-size: 2.2rem;
    margin-top: 70px;
  }

  .form-control {
    font-size: 1.4rem;
  }

  body,
  .mat-typography {
    font-size: 18px;
  }

  .btn {
    font-size: 20px;
    padding: 10px 34px;
  }

  input:-webkit-autofill {

    -webkit-text-size-adjust: 1.7rem;
    font-size: 18px !important;
  }

  .as-g-active,
  .as-l-active {
    margin-top: 38px;
  }

  .activemenu .as-list .as-card {
    width: 100%;
    max-width: 100%;
  }

  .as-drop-img {
    right: 35.5vw;
  }

  .as-card {
    width: 17%;
  }

  // .as-item-box {
  //   max-height: 47vh;
  //   min-height: 47vh;
  // }

  // .i-history .as-card {
  //   width: 27%;
  // }
  .as-mt-main {
    width: 80%;
  }

  //   .as-header {
  //     padding-left: 6px;
  //     padding-right: 38px;
  // }
  // .activemenu .i-history .as-card {
  //   width: 14%;
  // }
  .header-top {
    height: 120px;
  }
  .mb-3.mt-1.text-left.as-bold.as-color-4.as-card-width2.as-font-30 {
    margin-top: 30px !important;
    text-align:center !important;
}

  ul.as-menu>li>a {
    font-size: 1.4rem;
  }

  .navbar-nav.side-nav {
    width: 375px !important;
  }

  .navbar-nav.side-nav {

    top: 123px;
  }

  .navbar-expand-lg .navbar-nav.side-nav .nav-link {
    padding-right: 0rem;
    padding-left: 0rem;
    font-size: 20px;
    padding-bottom: 23px;
  }

  .navbar-expand-lg .navbar-nav.side-nav .nav-link:nth-child(3) {
    margin-top: 2rem;
  }

  .as-mt-main {
    margin-top: 160px;
  }

  .as-title {
    font-size:40px;

  }

  .i-history .as-card {
    max-width: 407px;
    padding: 25px;
    margin: 16px;
  }

  .title-b {
    font-size: 24px;
    text-align: center !important;
    margin-top: 40px;
    line-height: 1.2;
  }
  .as-card .row.mx-0 {
    justify-content: space-between;
}

  .as-font-26 {
    font-size: 20px;
  }

  .ic_lrg {
    font-size: 30px;
  }

  .i-history .as-card img {
    width: 100%;
  }

  .i-history .as-card .form-check-input {
    width: 40px;
    height: 40px;
    margin-left: -50px;
    margin-top: 17px;
  }

  .title-sml-mrgn {
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .btn-outline-info,
  .btn-outline-info {

    font-size: 1.8rem;
    padding: 13px 40px;
  }

  .h2-sub {
    font-size: 2.5rem !important;
  }

  .as-font-34 {
    font-size: 34px;
  }

  .as-item-box {
    padding: 35px 35px;
  }

  .as-productlst-img {
    height: 190px;
    width: 170px;
  }

  .as-font-30 {
    font-size: 24px;
  }

  .as-font-25 {
    font-size: 20px;
    line-height: 35px;
  }

  .cb-kit {
    width: 30px;
    height: 30px;
    margin-top: -3px;
  }

  .logout-icon {
    background-size: 40px;
  }

  .addtocart-icon {
    height: 50px;
    width: 50px;
    background-size: 56px;
  }

  .as-card {
    // width: 73%;
    // max-width: 600px;
    // padding: 50px;
    width: 47%;
    max-width: 402px;
    padding: 24px;
  }

  // .activemenu .as-card {

  //   width: 73%;
  //   max-width: 600px;
  //   padding: 50px;
  // }
  .as-card img {
    width: 100%;
    height: 20rem;
    object-fit: contain;
  }

  .as-crd-title-new {
    width: 100%;
    padding: 30px;
    font-size: 2rem;
    position: relative;
    background: #9f9f9f;
    display: block;
    color: #fff;
    margin-top: 40px;
  }

  a.as-crd-title-new {
    width: 100%;
    padding: 13px;
    font-size: 1.5rem;
    background: #9f9f9f;
    display: block;
    color: #fff;
    margin-bottom: 11px;
    cursor: pointer;
  }

  .mat-paginator,
  .mat-paginator-page-size .mat-select-trigger {

    font-size: 20px;
  }

  .take-now {
    font-size: 30px;
    padding: 20px 40px;
    border-radius: 40px;
  }

  .addtocart-btn {
    height: 80px;
    width: 80px;
    
  }

  .icon_list {
    font-size: 40px;
  }

  .leftmenutrigger {
    background-size: 50px;
  }

  .modal-dialog {
    max-width: 750px;
    margin: 11.75rem auto;
  }

  .logo-image {
    background-position: 35%;
    top: 240px;
    background-size: 50%;
  }
}

@media (min-width:768px) and (max-width:1024px) {
  .as-mt-main {
    width: 100%;
  }

  .as-height {
    height: 24vh;
  }

  .as-card {
    max-width: 184px;
  }

  .mycart .as-card {
    max-width: 182px;
  }

  .as-grid div div:nth-child(3) {
    flex-wrap: nowrap;

  }
}



@media only screen and (min-width : 768px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2) {
  // .as-home-img {

  //   height: 28vh;
  //   background-position: bottom !important;
  //   background-repeat: no-repeat !important;
  //   background-size: cover !important;
  //   width: 100%;
  // }
  .as-drop-img {

    right: 7.5vw;
  }

  .as-header {
    align-items: inherit;
  }

  .mat-paginator {
    margin-top: -25px;
  }

  .as-mt-main {
    width: 80%;
  }

  .mat-paginator-range-label {
    margin: 0 16px 0 24px !important;
  }

  .mat-paginator-container {
    padding: 0 0px 0 8px !important;
  }

  .shop-count {
    top: 10px;
    width: 16px;
    height: 16px;
    line-height: 1.2;
  }

  .as-home-img {
    height: 33vh;

    width: 18vw;
  }

  .as-height {
    height: 31vh;
  }

  // .as-card {
  //   width: 33%;
  //   max-width: 211px;
  // }

  // .navbar-nav.side-nav {

  //   width: 215px;
  // }

  // .as-product-img {
  //   // height: 128px;
  //   height: 165px;
  //   background-size: contain;
  //   width: 100%;
  // }
  .as-product-img {
    height: 164px;
    background-size: contain;
    width: 100%;
  }

  .activemenu .as-product-img {
    height: 184px;
    background-size: 83%;
  }

  .as-list .as-card.py-3 {
    padding-bottom: 0.7rem !important;
    padding-top: 0.7rem !important;
  }

  .activemenu .as-card {
    // max-width: 260px;
    max-width: 187px;
  }

  .i-history .as-card {
    // max-width: 324px;
    padding: 30px;
  }

  // .activemenu .i-history .as-card {
  //   max-width: 258px;
  //   padding: 1.5rem;
  // }

  .mycart .as-card {
    // max-width: 199px;
    // max-width: 216px
    max-width: 208px;
  }

  .activemenu .mycart .as-card {
    max-width: 184px;
  }

  .as-mt-main {

    padding-right: 25px;
    padding-left: 25px;
  }

  .as-home-img {
    // height: 32vh;
    // height: 26vh;
    // background-position: center 16px !important;
    // background-repeat: no-repeat !important;
    // background-size: contain !important;
    // width: 18vw;
    height: 26vh;
    background-position: center bottom !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100%;
  }

  .activemenu .as-home-img {
    width: 15vw;
  }

  .logo-img {
    width: 25%;
  }

  .as-list .as-card {
    width: 100%;
    max-width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .activemenu .product .as-list .as-card {
    width: 100%;
    max-width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    // justify-content: space-around;
    justify-content: space-between;
  }

  .activemenu .mycart .as-list .as-card,
  .mycart .as-list .as-card {
    max-width: 100%;
  }

  .activemenu .as-product-img {
    height: 211px;
    background-size: contain;

  }

  .activemenu .as-list .as-product-img {
    height: 110px;
  }

  .as-list .as-product-img {

    width: 111px;
  }

  .as-list .as-list .as-card.py-3 {
    padding-bottom: 0 !important;
    padding-top: .7rem !important;
  }

  .as-list .as-list .as-product-img {
    height: 125px;
    width: 150px;
  }

  .as-list>div div:nth-child(2) {
    margin-right: 8px;

  }

  .as-list>div div:nth-child(3) {
    flex-wrap: nowrap;

  }

  .as-list>div div:nth-child(3) button {
    white-space: nowrap;

  }

  .as-details-txt {
    margin: 16px 6px 16px -3px;
    padding-right: 6px;
  }

  .activemenu .as-details-txt {
    margin: 16px 18px 16px 10px;
  }

  .activemenu .as-details-btn .btn {
    padding: 10px 19px !important;
  }

  .activemenu .as-mr-det {
    margin-right: 20px !important;
  }

  .activemenu .product .as-card {
    width: 33%;
    max-width: 260px;
  }

  .as-crd-title {
    width: 92%;
    padding: 11px 4px 11px 16px;
  }

  .navbar a {
    font-weight: 400;
  }

  .activemenu .details .as-card {
    width: 29%;
    max-width: 202px;
  }


  .as-card-width1,
  .as-card-width2,
  .as-card-width3 {
    width: auto;
  }

  .as-list .as-card-width1 {
    width: 25%;
    margin-right: 14px;
  }

  .as-list .as-card-width2 {
    width: 55%;
  }

  .as-list .as-card-width3 {
    width: 25%;
  }

  .activemenu .as-list .as-card-width1 {
    width: 20%;
    margin-right: 14px;
  }

  .activemenu .as-list .as-card-width2 {
    width: 70%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .as-mt-main {

    width: 100%;

    padding-right: 20px;
    padding-left: 20px;
  }

  .as-text-flex {
    flex-wrap: wrap;
  }

  .pr-list-w-100 {
    width: 100%;
  }

  .as-productlst-img {
    width: 100%;
  }
}


//developer code
body {
  top: 0px !important;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

main.primary .ngxImageZoomContainer {
  width: 418px !important;
  margin-bottom: 250px !important;
  height: 0px !important;
  overflow: visible !important;
}

img.ngxImageZoomThumbnail {
  width: 410px;
  margin: inherit;
}
.navbar .sidebar a {
  color: #2d2d2d;
  font-weight: 100;
}
.navbar .sidebar a.as-active {
  color: #2a96c7;
  font-weight: 500;
}
.mat-paginator-container {
  background: #fcfcfc;
}
.title-b{
  margin-top: 20px;
}
