/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body, .mat-body, .mat-body-1, .mat-typography {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 18px ;
  // height: 100vh;
  color: #717171;
}

h1,
h2,
h3,
h4,
h5,
button,
input,
optgroup,
select,
textarea {
  font-family: 'Red Hat Text', sans-serif !important;
}

.as-mt-main {
  // margin-top: 70px;
  margin-top: 90px;
  width: 84%;
  margin-left: 210px;
}

.login {
  min-height: 100vh;
}

.bg-image {

  // background-image: url(img/login.png);
  background-image: url(assets/img/login.png);
  background-size: cover;
  background-position: center;
}

.logo-image {

  // background-image: url(img/SEQUR-RX_logo.png);
  background-image: url(assets/img/SEQUR-RX_logo.png);
  background-size: contain;
  background-position: 31%;
  height: 50px;
  background-repeat: no-repeat;
  position: absolute;
  top: 90px;
  width: 100%;
}

.login-heading {
  font-weight: 400;
  font-size: 18px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #717171 !important;
  -webkit-text-size-adjust: 18px;
  font-size: 18px;
}

.btn-login {
  // font-size: 0.9rem; 
  letter-spacing: 0.03rem;
  border-radius: 14px;
  font-weight: 500;
  padding: 8px 26px;

}
.as-eye {
  position: absolute;
  top: 9px;
  right: 0;
}
.form-control {

  border: 0;
  // border-bottom: 1px solid #707070;
  border-bottom: 1px solid #dedede;
  border-radius: inherit;
}

.form-control:focus {

  // border-color: #707070;
  border-color: #dedede;
  box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%);
}
.btn{border-radius: 10px;}

.btn-primary {
  color: #fff;
  background-color: #5092ff;
  border-color: #5092ff;
}

.modal-header {
  border-bottom: 0px solid #dee2e6;
}

.modal-footer {
  border-top: 0px solid #dee2e6;
}

.main-footer {
  text-align: center;
  font-size: 12px;
  background: #f5f5f5;
  padding: 16px;
  height: 46px;
}

.navbar-expand-lg .navbar-nav.side-nav {
  flex-direction: column;
}



.header-top {
  box-shadow: 0 3px 5px rgba(0, 0, 0, .1)
}

.leftmenutrigger,
.blocker {
  display: none
}

@media(min-width:992px) {
  .leftmenutrigger {
    display: block;
    display: block;
    margin: 7px 20px 4px 0;
    cursor: pointer;
  }

  #wrapper {
    padding: 90px 15px 15px 15px;
  }

  .navbar-nav.side-nav {
    left: 0;
  }

  .blocker {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 5;
    display: none
  }

  .blocker {
    display: block
  }

  .navbar-nav.side-nav {
    /* background: #585f66; */
    box-shadow: 2px 1px 2px rgba(0, 0, 0, .1);
    position: fixed;
    top: 56px;
    flex-direction: column !important;
    // left: -220px;
    left: 0;
    width: 200px;
    overflow-y: auto;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px
  }
}

.animate {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.logo-img {

  // background-image: url(img/SEQUR-RX_logo.png);
  background-image: url(assets/img/SEQUR-RX_logo.png);
  background-size: contain;
  height: 34px;
  background-repeat: no-repeat;
  width: 14%;
}

.shop-count {
  position: absolute;
  top: 8px;
  font-size: 8px;
  width: 10px;
  height: 10px;
  background: black;
  color: white;
  text-align: center;
  border-radius: 100%;
  font-weight: 800;
  right: 5px;
  line-height: 1;
}

.relative {
  position: relative;
}

.as-card {
  width: 22%;
  /* max-width: 25%; */
  // max-width: 17%;
  // max-width: 21.3%;
  max-width: 241px;
  /* border: 1px solid lightgray; */
  box-shadow: 0px 0px 8px 1px #e0dfdf;
  margin: 20px;
  text-align: center;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  border: 1px solid #daebf1;
}
.activemenu .as-card{
  max-width: 228px;
}
.as-crd-title {
  background: #666666b8;
  color: white;
  position: absolute;
  bottom: 9px;
  align-items: center;
  width: 92%;
  padding: 8px 4px 8px 16px;
  text-align: left;
  left: 9px;
}

.as-title {
  font-size: 30px;
  /* color: #797979; */
  color: #868484;
}

.as-color-1 {
  color: #868484;
}

.as-color-2 {
  color: #6e9dbf;
}

.as-color-3 {
  color: #717171
}
.as-color-4{
  color: #545252;
}
.as-color-5{
  color: #1e1e1e
}
.as-color-6{
  color:#404040
}
.as-color-7{
  color: #949494
}
.as-bold{
  font-weight: 500;
}

.as-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0px 6px 0;
  padding-left: 15px;
  padding-right: 15px;
}

.as-light-bg,
.btn-light {
  background-color: #efefef;
}

.btn-round {
  border-radius: 25px;
}
.line-h-12{
  line-height: 1.2;
}
.as-product-img {
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.as-product-img-pop{
  height: 80px;
    background-size: 78%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid lightgray;
    width: 80%;
    margin-left: 16px;
}
.as-productlst-img {
  height: 110px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  margin: 0 40px 0 14px;
}

.as-font-18 {
  font-size: 18px;
}

.as-font-14 {
  font-size: 14px;
}
.as-font-16 {
  font-size: 16px;
}

.as-font-24 {
  font-size: 24px;
}
.as-font-20 {
font-size: 20px;
}
.as-text-flex {
  align-items: center;
  flex-wrap: nowrap;
  box-shadow: 0 0 8px 1px lightgrey;
  border: 1px solid #dbebf1;
}

.as-px-15 {
  padding-right: 15px;
  padding-left: 15px;
}

.btn-outline-info {
  border-color: #abc1d5;
  color: black;
}

.as-item-box {
  background: #f7f7f7;
  padding: 10px 15px;
  border: 1px solid #adc2d6;
  margin-bottom: 2rem;
}

.search-icon {
  background-image: url(assets/img/search_icon.svg);
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 27px;
}

.user-icon {
  background-image: url(assets/img/profile_user_icon.svg);
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-size: 22px;
}

.addtocart-icon {
  background-image: url(assets/img/addtocarticon.svg);
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
}

.logout-icon {
  background-image: url(assets/img/power-button.svg);
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-size: 21px;
}

// .navbar-expand-lg .navbar-nav .nav-link {
//   padding-right: .25rem;
//   padding-left: .25rem;
// }
.as-details-title{
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: #1e1e1e;
}
.as-details-txt {
  margin: 16px 40px 16px 10px;
  border-right: 2px solid #d6d6d6;
  padding-right: 16px;
  color: #1e1e1e;
}
.as-details-txt:nth-child(3){
   
  border:none;
}
.as-details-border{
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 20px;
  padding-top: 20px;
}

.as-check {
  position: absolute;
  top: 10px;
  right: 10px;
}

.as-history {
  display: flex;
  margin: 0 15px;
  background: white;
  padding: 10px 15px;
  border-radius: 25px;
}
.as-history1 {
  display: flex;
 
}

.as-border-bottom{
  border-bottom: 1px solid lightgray;
}

.as-w-60{
  width: 60%;
}
.as-w-15{
  width: 15%;
}
// Popup
.modal-content{
  border-radius: 16px;
}
.modal {
  top: 100px;
}
.modal-header{
  padding: 1rem 1rem 0 1rem;
}
.modal-body {
  padding: 0 1rem 1rem 1rem;
}
.login-popup{
  background-image: url(assets/img/login-popup.svg);
  height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}
.logout-popup{
  background-image: url(assets/img/dore-open.svg);
  height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}
.locker-popup{
  background-image: url(assets/img/locker-open.svg);
  height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}
.as-mt-2{
  margin-top: 2rem!important;
}

// Nave Bar expand
.navbar-nav.side-nav.sidenav.sidebar-hidden{
  display: none;
}

.activemenu .as-mt-main{
  margin-left: 0px;
  width: 100%;
}
.as-bg-1{
  background-color:#f7f7f7 ;
  padding: 25px 0px 25px 12px;
}
.dropdown-header{
  background-color: white;
  font-size: 1rem;
}
.dropdown-menu.show{
  padding: 0;
  margin: 0;
    border-top: 3px solid blue
}
.as-drop-head{
 
  padding: 25px 0px 25px 12px;
}
.as-drop-img{
  background-image: url(assets/img/dropdown.png);
  height: 45vh;
  width: 14rem;
  background-size: 94%;
  background-repeat: no-repeat;
}
.navbar a{
  color: #717171;
}

.navbar .dropdown-menu {
 
  left: 100px;
}