/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body,
.mat-body,
.mat-body-1,
.mat-typography {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 18px;
  // height: 100vh;
  // color: #717171;
  color: #3b3b3b;
}

h1,
h2,
h3,
h4,
h5,
button,
input,
optgroup,
select,
textarea {
  font-family: 'Red Hat Text', sans-serif !important;
}
.mat-paginator, .mat-paginator-page-size .mat-select-trigger{
  font-family: 'Red Hat Text', sans-serif !important;
  font-size: 14px ;
}
.fa {
  font-family: FontAwesome !important;
}

::-webkit-scrollbar {
  width: 6px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
  background: #10a1d1;
}


::-webkit-scrollbar-thumb:hover {
  background: #0a8db9;
}

.as-mt-main {
  // margin-top: 70px;
  // margin-top: 90px;
  // width: 80%;
  // margin-left: 236px;
  margin-top: 90px;
  width: 80%;

  float: right;
  padding-right: 50px;
  padding-left: 50px;
  transition: all .3s linear;
}

.login {
  min-height: 100vh;
}

.bg-image {

  // background-image: url(img/login.png);
  background-image: url(assets/img/login.png);
  background-size: cover;
  background-position: center;
}

.logo-image {

  // background-image: url(img/SEQUR-RX_logo.png);
  background-image: url(assets/img/SEQUR-RX_logo.png);
  background-size: contain;
  background-position: 31%;
  height: 50px;
  background-repeat: no-repeat;
  position: absolute;
  top: 90px;
  width: 100%;
}

.login-heading {
  font-weight: 400;
  font-size: 22px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #717171 !important;
  -webkit-text-size-adjust: 18px;
  font-size: 18px;
}

.btn-login {
  // font-size: 0.9rem; 
  letter-spacing: 0.03rem;
  border-radius: 14px;
  font-weight: 500;
  padding: 8px 26px;

}

.as-eye {
  position: absolute;
  top: 9px;
  right: 0;
}

.form-control {

  border: 0;
  // border-bottom: 1px solid #707070;
  border-bottom: 1px solid #dedede;
  border-radius: inherit;
}

.form-control:focus {

  // border-color: #707070;
  border-color: #dedede;
  box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%);
}

.btn {
  border-radius: 10px;
}

.btn-primary {
  color: #fff;
  background-color: #5092ff;
  border-color: #5092ff;
}

.modal-header {
  border-bottom: 0px solid #dee2e6;
}

.modal-footer {
  border-top: 0px solid #dee2e6;
}

.main-footer {
  text-align: center;
  font-size: 12px;
  background: #f5f5f5;
  padding: 16px;
  height: 46px;
}

.navbar-expand-lg .navbar-nav.side-nav {
  flex-direction: column;
  transition: all .3s linear;
}

.navbar-expand-lg .navbar-nav.side-nav .nav-link.as-active{
  color: #2e2e2e !important;
    cursor: pointer;
}

.header-top {
  box-shadow: 0 3px 5px rgba(0, 0, 0, .1)
}

.leftmenutrigger,
.blocker {
  display: none
}

@media(min-width:992px) {
  .leftmenutrigger {
    display: block;
    display: block;
    margin: 7px 20px 4px 0;
    cursor: pointer;

    background-size: 30px
  }

  #wrapper {
    padding: 90px 15px 15px 15px;
  }

  .navbar-nav.side-nav {
    left: 0;
  }

  .blocker {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 5;
    display: none
  }

  .blocker {
    display: block
  }

  .navbar-nav.side-nav {
    /* background: #585f66; */
    box-shadow: 2px 1px 2px rgba(0, 0, 0, .1);
    position: fixed;
    top: 94px;
    flex-direction: column !important;
    // left: -220px;
    left: 0;
    width: 274px;
    overflow-y: auto;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    background: white;
  }
}

.animate {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.logo-img {

  // background-image: url(img/SEQUR-RX_logo.png);
  background-image: url(assets/img/SEQUR-RX_logo.png);
  height: 44px;
  background-repeat: no-repeat;
  width: 18%;
  background-size: 100%;
  background-position: center;
}

.shop-count {
  position: absolute;
  top: 14px;
  font-size: 13px;
  width: 14px;
  height: 14px;
  background: black;
  color: white;
  text-align: center;
  border-radius: 100%;
  font-weight: 800;
  right: 5px;
  line-height: 1;
}

.relative {
  position: relative;
}
.as-crd-title{
  cursor: pointer;
}
.as-card {
  // width: 21%;
  /* max-width: 25%; */
  // max-width: 17%;
  // max-width: 21.3%;
  // max-width: 241px;
  /* border: 1px solid lightgray; */
  width: 33%;
  max-width: 285px;
  box-shadow: 0px 0px 8px 1px #e0dfdf;
  border: 1px solid #daebf1;
  margin: 20px;
  text-align: center;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;

}

.activemenu .as-card {
  // max-width: 228px;
  max-width: 275px;
}

.as-crd-title {
  background: #666666;
  color: white;
  position: absolute;
  bottom: 9px;
  align-items: center;
  width: 94%;
  padding: 14px 4px 14px 16px;
  text-align: left;
  left: 9px;
  opacity: .8;

}

.as-title {
  font-size: 30px;
  /* color: #797979; 
  color: #868484;*/
  color: #6a6969;
}

.as-color-1 {
  color: #868484;
}

.as-color-2 {
  color: #6e9dbf;
}

.as-color-3 {
  color: #717171
}

.as-color-4 {
  color: #545252;
}

.as-color-5 {
  color: #1e1e1e
}

.as-color-6 {
  color: #404040
}

.as-color-7 {
  color: #949494
}

.as-color-8 {
  color: #494949;
}
.as-color-9{
  color: #3b3b3b !important;
}
.as-bold {
  font-weight: 500;
}

.as-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0px 6px 0;
  padding-left: 15px;
  padding-right: 15px;
}

.as-light-bg,
.btn-light {
  background-color: #efefef;
}

.btn-round {
  border-radius: 25px;
}

.line-h-12 {
  line-height: 1.2;
}

.as-product-img {
  // height: 120px;
  height: 185px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
input {
  outline: -webkit-focus-ring-color auto 0px;
}
.as-product-img-pop {
  height: 80px;
  background-size: 78%;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid lightgray;
  width: 80%;
  margin-left: 16px;
}

.as-productlst-img {
  height: 110px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  // margin: 0 40px 0 14px;
  margin: 0 14px 0 0px;
}

.as-font-18 {
  font-size: 18px;
}

.as-font-14 {
  font-size: 14px;
}

.as-font-16 {
  font-size: 16px;
}

.as-font-24 {
  font-size: 24px;
}

.as-font-20 {
  font-size: 20px;
}

.as-font-36 {
  font-size: 36px;
}

.as-font-12 {
  font-size: 12px;
}

.as-m12 {
  margin: 12px;
}


.as-text-flex {
  align-items: center;
  flex-wrap: nowrap;
  box-shadow: 0 0 8px 1px lightgrey;
  border: 1px solid #dbebf1;
}

.as-px-15 {
  padding-right: 15px;
  padding-left: 15px;
}

.btn-outline-info {
  border-color: #abc1d5;
  color: black;
}

.as-item-box {
  background: #f7f7f7;
  padding: 10px 15px;
  border: 1px solid #adc2d6;
  margin-bottom: 2rem;
}

.search-icon {
  background-image: url(assets/img/search_icon.svg);
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
}

.user-icon {
  background-image: url(assets/img/profile_user_icon.svg);
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: center;
  cursor: pointer;
}

.addtocart-icon {
  background-image: url(assets/img/addtocarticon.svg);
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 33px;
  cursor: pointer;
}

.logout-icon {
  background-image: url(assets/img/power-button.svg);
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}

// .navbar-expand-lg .navbar-nav .nav-link {
//   padding-right: .25rem;
//   padding-left: .25rem;
// }
.as-details-title {
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: #1e1e1e;
}

.as-details-txt {
  margin: 16px 30px 16px 10px;
  border-right: 2px solid #d6d6d6;
  padding-right: 16px;
  color: #1e1e1e;
}

.as-details-txt:nth-child(3) {

  border: none;
}

.as-details-border {
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 20px;
  padding-top: 20px;
}

.as-check {
  position: absolute;
  top: 10px;
  right: 10px;
}

.as-history {
  display: flex;
  margin: 0 15px;
  background: white;
  padding: 10px 15px;
  border-radius: 25px;
}

.as-history1 {
  display: flex;

}

.as-border-bottom {
  border-bottom: 1px solid lightgray;
}

.as-w-60 {
  width: 60%;
}

.as-w-15 {
  width: 15%;
}

// Popup
.modal-content {
  border-radius: 16px;
}

.modal {
  top: 100px;
}

.modal-header {
  padding: 1rem 1rem 0 1rem;
}

.modal-body {
  padding: 0 1rem 1rem 1rem;
}

.login-popup {
  background-image: url(assets/img/login-popup.svg);
  height: 128px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 27%;
}

.logout-popup {
  background-image: url(assets/img/dore-open.svg);
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

.locker-popup {
  background-image: url(assets/img/locker-open.svg);
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

.as-mt-2 {
  margin-top: 2rem !important;
}

// Nave Bar expand
.navbar-nav.side-nav.sidenav.sidebar-hidden {
  // display: none;
  opacity: 0;
  width: 0;
  left: -57px;
}

.activemenu .as-mt-main {
  margin-left: 0px;
  width: 100%;
  padding: 0 50px;
}

.as-bg-1 {
  background-color: #f7f7f7;
  padding: 25px 0px 25px 12px;
  height: 53vh;
}

.dropdown-header {
  background-color: white;
  font-size: 1rem;
}

.dropdown-menu.show {
  padding: 0;
  margin: 0;
  border-top: 3px solid blue
}

.as-drop-head {

  padding: 25px 0px 25px 12px;
}

.as-drop-img {
  background-image: url(assets/img/dropdown.png);
  height: 55vh;
  width: 15rem;
  background-size: 94%;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  z-index: 101;
}

.navbar a {
  color: #717171;
}

.navbar .dropdown-menu {

  left: 100px;
}

.navbar .dropdown-toggle::after {
  display: none;
}


input:-webkit-autofill::first-line {
  font-size: 18px;
  font-weight: 400 !important;
}

.as-card a:hover {
  color: white;
}

.nav-title {
  border-bottom: 1px solid #dadada;
}

.side-nav {
  padding: 20px;
}


.navbar-expand-lg .navbar-nav.side-nav .nav-link {
  padding-right: 0rem;
  padding-left: 0rem;
}

.side-nav hr {
  margin: 0;
  background: blue;
  border-top: 3px solid #10a1d1;
  width: 35px;
  margin-top: -3px;
}

.navbar-expand-lg .navbar-nav.side-nav .nav-link:nth-child(3) {
  margin-top: 1rem;
}

.as-height {
  height: 44vh;
}

.line-height-13 {
  line-height: 1.3;
}

.activemenu .as-mt-main.mycart {
  margin-left: 0px;
  width: 100%;
  padding: 0rem 3rem;
}

.mycart .as-card {
  max-width: 280px;
}
.as-sp .row:nth-child(3){
  margin-top: 15px;
}
.activemenu .mycart .as-card {
  max-width: 267px;
}

.i-history .as-card {
  /* max-width: 25%; */
  /* border: 1px solid lightgray; */
  width: 33%;
  max-width: 286px;
  padding: 1.5rem;
}

.activemenu .as-mt-main.i-history {

  padding: 0 4rem;
}

.activemenu .i-history .as-card {

  width: 33%;
  max-width: 265px;
}





button:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

.side-nav .nav-item a {
  font-size: 16px;
  color: #6a6969 !important;
}

.navbar a {

  color: #2d2d2d;
  font-weight: 500;
}

// Serch box




.main-footer a {
  color: #6a6969;
}

.as-li-h-14 {
  line-height: 1.4;
}

.as-similar-img {
  height: 70px;
  width: 70px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 8px 1px #e0dfdf;
  border: 1px solid #daebf1;
  margin: 12px;
}

.flex-wrap-nowrap {
  flex-wrap: nowrap;
}

.pointer {
  cursor: pointer;
}

.as-g-active.view-active i {
  color: #1a73e9;
}

.as-l-active.view-active i {
  color: #1a73e9;
}

.as-list .as-card {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.as-list .as-product-img {
  height: 125px;
  width: 150px;
}
.product.as-card {
  width: 33%;
  max-width: 283px;
}

.activemenu .product .as-card {
  width: 33%;
  max-width: 268px;
  }
.as-list .as-crd-title {
  width: 98%;
  text-align: center;
}

.as-list .as-productlst-img {
  height: 140px;

  width: 158px;
  margin: 12px 14px 0 0px;
}

.as-list .as-text-flex {

  flex-direction: column;
}

.product-li .as-list .as-color-2 {
  text-align: center;
  ;
}
.as-list .as-card.py-3{
  padding-bottom:0 !important;
  padding-top: .7rem !important;
}
.as-list .as-card {
 
  margin: 10px;
}
.as-home-img {
  // height: 39vh;
  // background-position: -14px 2px !important;
  // background-repeat: no-repeat !important;
  // background-size: contain !important;
  // width: 19vw;
  // height: 28vh;
  background-position: bottom !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 39vh;

}

.as-pro-py {
  padding-left: .5rem;
  padding-right: .5rem;
}
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #1a73e9;
}
.as-width-60{
  width: 60px;
}

.as-card-width1, .as-card-width2, .as-card-width3{
  width: auto;
}
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 80%;
  text-align: center;
  font-size: 12px;
  background: #f5f5f5;
  padding: 16px;
  height: 46px;
}
.activemenu .footer{
  width: 100%;
}
.footer a {
  color: #6a6969;
}
// Tab Design
@media (min-width:768px) and (max-width:1024px) {
  .as-mt-main {
    width: 100%;
  }

  .as-height {
    height: 24vh;
  }

  .as-card {
    max-width: 184px;
  }
  .mycart .as-card {
    max-width: 182px;
}
.as-grid div div:nth-child(3){
  flex-wrap: nowrap;

}
}



@media only screen and (min-width : 768px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2) {
  // .as-home-img {
    
  //   height: 28vh;
  //   background-position: bottom !important;
  //   background-repeat: no-repeat !important;
  //   background-size: cover !important;
  //   width: 100%;
  // }
  .as-header{
   align-items: inherit;
  }
  .mat-paginator {
    margin-top: -25px;
}
  .as-mt-main {
    width: 80%;
  }
  .mat-paginator-range-label {
    margin: 0 16px 0 24px !important;
}
.mat-paginator-container {
  padding: 0 0px 0 8px !important;
}
.shop-count {
  top: 10px;
  width: 16px;
  height: 16px;
  line-height: 1.2;
}
  .as-home-img {
    height: 33vh;

    width: 18vw;
  }

  .as-height {
    height: 31vh;
  }

  .as-card {
    width: 33%;
    max-width: 211px;
  }

  .navbar-nav.side-nav {

    width: 215px;
  }

  // .as-product-img {
  //   // height: 128px;
  //   height: 165px;
  //   background-size: contain;
  //   width: 100%;
  // }
  .as-product-img {
    height: 164px;
    background-size: contain;
    width: 100%;
}

  .activemenu .as-product-img {
    height: 184px;
    background-size: 83%;
  }
  .as-list .as-card.py-3 {
    padding-bottom: 0.7rem !important;
    padding-top: 0.7rem !important;
}

  .activemenu .as-card {
    // max-width: 260px;
    max-width: 187px;
  }

  .i-history .as-card {
    max-width: 208px;
    padding: 5px;
  }

  .activemenu .i-history .as-card {
    max-width: 258px;
    padding: 1.5rem;
  }

  .mycart .as-card {
    // max-width: 199px;
    // max-width: 216px
    max-width: 208px;
  }

  .activemenu .mycart .as-card {
    max-width: 184px;
  }

  .as-mt-main {

    padding-right: 25px;
    padding-left: 25px;
  }

  .as-home-img {
    // height: 32vh;
    // height: 26vh;
    // background-position: center 16px !important;
    // background-repeat: no-repeat !important;
    // background-size: contain !important;
    // width: 18vw;
    height: 26vh;
    background-position: center bottom !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100%;
  }
 .activemenu .as-home-img {
    width: 15vw;
  }
  .logo-img {
    width: 25%;
  }
  .as-list .as-card {
    width: 100%;
    max-width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
 .activemenu .product .as-list .as-card {
  width: 100%;
  max-width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    // justify-content: space-around;
    justify-content: space-between;
}
.activemenu .mycart .as-list .as-card, .mycart .as-list .as-card  {
  max-width: 100%;
}

.activemenu .as-product-img {
  height: 211px;
    background-size: contain;
   
}
.activemenu .as-list .as-product-img {
  height: 110px;
}
.as-list .as-product-img {
 
  width: 111px;
}
  .as-list .as-list .as-card.py-3{
    padding-bottom:0 !important;
    padding-top: .7rem !important;
  }
  .as-list .as-list .as-product-img {
    height: 125px;
    width: 150px;
}
  .as-list > div div:nth-child(2){
    margin-right: 8px;

}
.as-list > div div:nth-child(3){
  flex-wrap: nowrap;

}
.as-list > div div:nth-child(3) button{
  white-space: nowrap;

}
.as-details-txt {
  margin: 16px 6px 16px -3px;
  padding-right: 6px;
}
.activemenu .as-details-txt {
  margin: 16px 18px 16px 10px;
}

.activemenu .as-details-btn .btn {
  padding: 10px 19px !important;
}
.activemenu .as-mr-det {
  margin-right: 20px !important;
}
.activemenu .product .as-card {
  width: 33%;
  max-width: 260px;
}
.as-crd-title {
  width: 92%;
  padding: 11px 4px 11px 16px;
}
.navbar a {
  font-weight: 400;
}
.activemenu .details .as-card {
  width: 29%;
  max-width: 202px;
}


.as-card-width1, .as-card-width2, .as-card-width3{
  width: auto;
}
.as-list .as-card-width1 {
  width: 25%;
  margin-right: 14px;
}
.as-list .as-card-width2{
  width: 55%;
}
.as-list .as-card-width3{
  width: 25%;
}
.activemenu .as-list .as-card-width1 {
  width: 20%;
  margin-right: 14px;
}
.activemenu .as-list .as-card-width2{
  width: 70%;
}
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .as-mt-main {
   
    width: 100%;
   
    padding-right: 20px;
    padding-left: 20px;
}
.as-text-flex {
  flex-wrap: wrap;
}
.pr-list-w-100{
  width: 100%;
}
.as-productlst-img{
  width: 100%;
}
}