
<div class="container-fluid as-mt-main pt-5" >
<div class="col-md-12 p-0">
    <div class="row mx-0">
        <div class="col-md-6 pl-0">
            <div class="image-gallery">
                <!--<aside class="thumbnails">
                  <a href="#" class="selected thumbnail" data-big="../../../../assets/img/details-1.png">
                    <div class="thumbnail-image" style="background-image: url(../../../../assets/img/details-1.png)"></div>
                  </a>
                  <a href="#" class="thumbnail" data-big="../../../../assets/img/details-2.png">
                    <div class="thumbnail-image" style="background-image: url(../../../../assets/img/details-2.png)"></div>
                  </a>
                  <a href="#" class="thumbnail" data-big="../../../../assets/img/details-3.png">
                    <div class="thumbnail-image" style="background-image: url(../../../../assets/img/details-3.png)"></div>
                  </a>
                </aside>-->
              
               <main class="primary" style="background-image: url({{items?.image_path}});">
   
                <div class="as-avaliable">
                    <div class="as-avaliable-btn"></div>
                    <div class="as-font-18 as-z-index-1">Available</div>
                    <div class="as-font-24">{{machine?.quantity}}</div>
                </div>
                   
         </main>
              </div>
        </div>
        <div class="col-md-6 pr-0">
            <div class="as-details-title">{{items?.item_name}}
            </div>
            <div class="row mx-0 as-details-border">
                <div class="as-details-txt">
                    <div class="as-font-18 as-bold">
                        Machine Name
                    </div>
                    <div>
                        {{cube?.cube_name}}
                    </div>
                </div>
                <div class="as-details-txt">
                    <div class="as-font-18 as-bold">
                        Column ID
                    </div>
                    <div>
                        {{bin?.bin_id}}
                    </div>
                </div>
                <div class="as-details-txt">
                    <div class="as-font-18 as-bold">
                        Rack ID
                    </div>
                    <div>
                        {{compartment?.compartment_id}}
                    </div>
                </div>
            </div>
            <div class="row mx-0 as-details-border as-details-btn">
                <div class="as-w20 as-mr-det">
                   
                    <input type="mobile" value="" id="quantity" (keyup)="changing($event)" placeholder="Qty" name="quantity" min="1" max="{{machine.quantity}}">  
               
                </div>
                <div class="as-mr-det">
                    <button class="btn  btn-primary fw-bold mb-2" type="button" >Take Now</button>
                </div>
                <div class="as-mr-or">
                    or
                </div>
                <div class="as-mr-det">
                    <button class="btn  btn-secondary   fw-bold mb-2" type="button" (click)="addtocart()">Add to cart</button>
                </div>
            </div>

            <div class="as-font-16 as-color-5">
                <div class="as-bold my-3">
                    Technical Specification
                </div>
                <p>
                    {{machine?.description}}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="as-bold as-font-16 mx-3 my-3">
    Similar Products
</div>
<div class="row mx-0 mb-5">
   
    <div class="as-card py-3">
        <div class="">
            <!-- <img src="../../../../assets/img/tools.png"> -->
            <div class="as-product-img" style="background-image: url(../../../../assets/img/hamer.png);"></div>
        </div>
        
        <div class=" text-left as-bold as-color-4">Stubby Claw 
            Hammer 2</div>
            <div class="as-color-2 mt-2 as-font-16 text-left as-bold">
                Column ID: 01   Rack: 02
            </div>
            <div class="row align-items-center mx-0 as-addtocart-pos">
                <div class="mr-3">
                    <button type="button" class="btn bg-white btn-round btn-light">Take Now</button>
                </div>
                <div class="">
                   
                    <button type="button" class="btn bg-white btn-round btn-light addtocart-icon addtocart-btn"></button>
                </div>
            </div>
            
    </div>

    <div class="as-card py-3">
        <div class="">
            <!-- <img src="../../../../assets/img/tools.png"> -->
            <div class="as-product-img" style="background-image: url(../../../../assets/img/hamer.png);"></div>
        </div>
        
        <div class=" text-left as-bold as-color-4">Stubby Claw 
            Hammer 2</div>
            <div class="as-color-2 mt-2 as-font-16 text-left as-bold">
                Column ID: 01   Rack: 02
            </div>
            <div class="row align-items-center mx-0 as-addtocart-pos">
                <div class="mr-3">
                    <button type="button" class="btn bg-white btn-round btn-light">Take Now</button>
                </div>
                <div class="">
                   
                    <button type="button" class="btn bg-white btn-round btn-light addtocart-icon addtocart-btn"></button>
                </div>
            </div>
            
    </div>

    <div class="as-card py-3">
        <div class="">
            <!-- <img src="../../../../assets/img/tools.png"> -->
            <div class="as-product-img" style="background-image: url(../../../../assets/img/hamer.png);"></div>
        </div>
        
        <div class=" text-left as-bold as-color-4">Stubby Claw 
            Hammer 2</div>
            <div class="as-color-2 mt-2 as-font-16 text-left as-bold">
                Column ID: 01   Rack: 02
            </div>
            <div class="row align-items-center mx-0 as-addtocart-pos">
                <div class="mr-3">
                    <button type="button" class="btn bg-white btn-round btn-light">Take Now</button>
                </div>
                <div class="">
                   
                    <button type="button" class="btn bg-white btn-round btn-light addtocart-icon addtocart-btn"></button>
                </div>
            </div>
            
    </div>

    <div class="as-card py-3">
        <div class="">
            <!-- <img src="../../../../assets/img/tools.png"> -->
            <div class="as-product-img" style="background-image: url(../../../../assets/img/hamer.png);"></div>
        </div>
        
        <div class=" text-left as-bold as-color-4">Stubby Claw 
            Hammer 2</div>
            <div class="as-color-2 mt-2 as-font-16 text-left as-bold">
                Column ID: 01   Rack: 02
            </div>
            <div class="row align-items-center mx-0 as-addtocart-pos">
                <div class="mr-3">
                    <button type="button" class="btn bg-white btn-round btn-light">Take Now</button>
                </div>
                <div class="">
                   
                    <button type="button" class="btn bg-white btn-round btn-light addtocart-icon addtocart-btn"></button>
                </div>
            </div>
            
    </div>

    
      

</div>
</div>

