<div class="container-fluid as-mt-main">
  <div class="as-header as-px-15 my-3">
    <div class="as-title ">
      Kitting
    </div>
    <div class="row as-color-1">
      <div class="mr-3">
        Items 1-20 of 40
      </div>
      <div class="mr-3">
        <i class="fa fa-th" aria-hidden="true"></i>
      </div>
      <div class="mr-3">
        <i class="fa fa-list" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6 ">
        <div class="as-item-box">
          <div class="d-flex justify-content-between align-items-center">
            <div class="as-font-24">Item Kit01</div>
            <div class="row align-items-center mx-0">
              <div class="mr-3">
                <button type="button" class="btn bg-white btn-round btn-light">Take Now</button>
              </div>
              <div class="">

                <button type="button" class="btn bg-white btn-round btn-light addtocart-icon addtocart-btn"></button>
              </div>
            </div>
          </div>
          <div class="bg-white mx-1 my-3 row as-text-flex px-3">
            <div class="">
              <div class="as-productlst-img" style="background-image: url(../../../assets/img/tools.png);"></div>
            </div>
            <div>
              <div class="as-font-18 as-bold as-color-4">
                Multi Function Wrench Spanner Tool (9mm to 32 mm)
              </div>
              <div class="as-color-2 mt-3 as-font-16">
                Machine: 01 Column ID: 01 Rack: 02
              </div>
            </div>
          </div>

          <div class="bg-white mx-1 my-3 row as-text-flex px-3">
            <div class="">
              <div class="as-productlst-img" style="background-image: url(../../../assets/img/tools.png);"></div>
            </div>
            <div>
              <div class="as-font-18 as-bold as-color-4">
                Multi Function Wrench Spanner Tool (9mm to 32 mm)
              </div>
              <div class="as-color-2 mt-3 as-font-16">
                Machine: 01 Column ID: 01 Rack: 02
              </div>
            </div>
          </div>

          <div class="bg-white mx-1 my-3 row as-text-flex px-3">
            <div class="">
              <div class="as-productlst-img" style="background-image: url(../../../assets/img/tools.png);"></div>
            </div>
            <div>
              <div class="as-font-18 as-bold as-color-4">
                Multi Function Wrench Spanner Tool (9mm to 32 mm)
              </div>
              <div class="as-color-2 mt-3 as-font-16">
                Machine: 01 Column ID: 01 Rack: 02
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6 ">
        <div class="as-item-box">
          <div class="d-flex justify-content-between align-items-center">
            <div class="as-font-24">Item Kit01</div>
            <div class="row align-items-center mx-0">
              <div class="mr-3">
                <button type="button" class="btn bg-white btn-round btn-light">Take Now</button>
              </div>
              <div class="">

                <button type="button" class="btn bg-white btn-round btn-light addtocart-icon addtocart-btn"></button>
              </div>
            </div>
          </div>
          <div class="bg-white mx-1 my-3 row as-text-flex px-3">
            <div class="">
              <div class="as-productlst-img" style="background-image: url(../../../assets/img/tools.png);"></div>
            </div>
            <div>
              <div class="as-font-18 as-bold as-color-4">
                Multi Function Wrench Spanner Tool (9mm to 32 mm)
              </div>
              <div class="as-color-2 mt-3 as-font-16">
                Machine: 01 Column ID: 01 Rack: 02
              </div>
            </div>
          </div>

          <div class="bg-white mx-1 my-3 row as-text-flex px-3">
            <div class="">
              <div class="as-productlst-img" style="background-image: url(../../../assets/img/tools.png);"></div>
            </div>
            <div>
              <div class="as-font-18 as-bold as-color-4">
                Multi Function Wrench Spanner Tool (9mm to 32 mm)
              </div>
              <div class="as-color-2 mt-3 as-font-16">
                Machine: 01 Column ID: 01 Rack: 02
              </div>
            </div>
          </div>

          <div class="bg-white mx-1 my-3 row as-text-flex px-3">
            <div class="">
              <div class="as-productlst-img" style="background-image: url(../../../assets/img/tools.png);"></div>
            </div>
            <div>
              <div class="as-font-18 as-bold as-color-4">
                Multi Function Wrench Spanner Tool (9mm to 32 mm)
              </div>
              <div class="as-color-2 mt-3 as-font-16">
                Machine: 01 Column ID: 01 Rack: 02
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6 ">
        <div class="as-item-box">
          <div class="d-flex justify-content-between align-items-center">
            <div class="as-font-24">Item Kit01</div>
            <div class="row align-items-center mx-0">
              <div class="mr-3">
                <button type="button" class="btn bg-white btn-round btn-light">Take Now</button>
              </div>
              <div class="">

                <button type="button" class="btn bg-white btn-round btn-light addtocart-icon addtocart-btn"></button>
              </div>
            </div>
          </div>
          <div class="bg-white mx-1 my-3 row as-text-flex px-3">
            <div class="">
              <div class="as-productlst-img" style="background-image: url(../../../assets/img/tools.png);"></div>
            </div>
            <div>
              <div class="as-font-18 as-bold as-color-4">
                Multi Function Wrench Spanner Tool (9mm to 32 mm)
              </div>
              <div class="as-color-2 mt-3 as-font-16">
                Machine: 01 Column ID: 01 Rack: 02
              </div>
            </div>
          </div>

          <div class="bg-white mx-1 my-3 row as-text-flex px-3">
            <div class="">
              <div class="as-productlst-img" style="background-image: url(../../../assets/img/tools.png);"></div>
            </div>
            <div>
              <div class="as-font-18 as-bold as-color-4">
                Multi Function Wrench Spanner Tool (9mm to 32 mm)
              </div>
              <div class="as-color-2 mt-3 as-font-16">
                Machine: 01 Column ID: 01 Rack: 02
              </div>
            </div>
          </div>

          <div class="bg-white mx-1 my-3 row as-text-flex px-3">
            <div class="">
              <div class="as-productlst-img" style="background-image: url(../../../assets/img/tools.png);"></div>
            </div>
            <div>
              <div class="as-font-18 as-bold as-color-4">
                Multi Function Wrench Spanner Tool (9mm to 32 mm)
              </div>
              <div class="as-color-2 mt-3 as-font-16">
                Machine: 01 Column ID: 01 Rack: 02
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6 ">
        <div class="as-item-box">
          <div class="d-flex justify-content-between align-items-center">
            <div class="as-font-24">Item Kit01</div>
            <div class="row align-items-center mx-0">
              <div class="mr-3">
                <button type="button" class="btn bg-white btn-round btn-light">Take Now</button>
              </div>
              <div class="">

                <button type="button" class="btn bg-white btn-round btn-light addtocart-icon addtocart-btn"></button>
              </div>
            </div>
          </div>
          <div class="bg-white mx-1 my-3 row as-text-flex px-3">
            <div class="">
              <div class="as-productlst-img" style="background-image: url(../../../assets/img/tools.png);"></div>
            </div>
            <div>
              <div class="as-font-18 as-bold as-color-4">
                Multi Function Wrench Spanner Tool (9mm to 32 mm)
              </div>
              <div class="as-color-2 mt-3 as-font-16">
                Machine: 01 Column ID: 01 Rack: 02
              </div>
            </div>
          </div>

          <div class="bg-white mx-1 my-3 row as-text-flex px-3">
            <div class="">
              <div class="as-productlst-img" style="background-image: url(../../../assets/img/tools.png);"></div>
            </div>
            <div>
              <div class="as-font-18 as-bold as-color-4">
                Multi Function Wrench Spanner Tool (9mm to 32 mm)
              </div>
              <div class="as-color-2 mt-3 as-font-16">
                Machine: 01 Column ID: 01 Rack: 02
              </div>
            </div>
          </div>

          <div class="bg-white mx-1 my-3 row as-text-flex px-3">
            <div class="">
              <div class="as-productlst-img" style="background-image: url(../../../assets/img/tools.png);"></div>
            </div>
            <div>
              <div class="as-font-18 as-bold as-color-4">
                Multi Function Wrench Spanner Tool (9mm to 32 mm)
              </div>
              <div class="as-color-2 mt-3 as-font-16">
                Machine: 01 Column ID: 01 Rack: 02
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>
