<div id="navbar">
  <nav class="navbar header-top fixed-top navbar-expand-lg  navbar-light bg-light">
    <span class="navbar-toggler-icon leftmenutrigger"></span>
    <div class="navbar-brand logo-img "></div>

    <div class="dropdown mx-3">
      <div type="button" class=" dropdown-toggle" data-toggle="dropdown">
        Category
      </div>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </div>
    <div>Item History</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav animate side-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Side Menu Items</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-md-auto d-md-flex">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-search" aria-hidden="true"></i>

          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-user-o" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item relative">
          <a class="nav-link" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          <div class="shop-count">1</div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-power-off" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container-fluid as-mt-main">
  <div class="as-header">
    <div class="as-title">
      Kitting
    </div>
    <div class="row as-color-1">
      <div class="mr-3">
        Items 1-20 of 40
      </div>
      <div class="mr-3">
        <i class="fa fa-th" aria-hidden="true"></i>
      </div>
      <div class="mr-3">
        <i class="fa fa-list" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row">
        <div class="col-md-6 ">
            <div class="as-item-box">
                <div class="d-flex justify-content-between align-items-center">
                    <div>Item Kit01</div>
                    <div class="row align-items-center mx-0">
                      <div class="mr-3">
                          <button type="button" class="btn bg-white btn-round btn-light">Take Now</button>
                      </div>
                      <div class="">
                          
                          <button type="button" class="btn bg-white btn-round btn-light"><i class="fa fa-shopping-cart" ></i></button>
                      </div>
                  </div>
                </div>
                <div class="bg-white row">
<div >
image
</div>
<div>
    <div>
        Multi Function Wrench  Spanner Tool (9mm to 32 mm)
    </div>
    <div>
        Machine: 01  Column ID: 01   Rack: 02
    </div>
</div>
                </div>
            </div>
          
        </div>
        <div class="col-md-6 ">
            <div class="as-item-box ">
                <div class="d-flex justify-content-between align-items-center">
                    <div>Item Kit01</div>
                    <div class="row align-items-center mx-0">
                      <div class="mr-3">
                          <button type="button" class="btn bg-white btn-round btn-light">Take Now</button>
                      </div>
                      <div class="">
                          
                          <button type="button" class="btn bg-white btn-round btn-light"><i class="fa fa-shopping-cart" ></i></button>
                      </div>
                  </div>
                </div>
            </div>
          
        </div>
      </div>
  </div>
  
</div>
<footer class="main-footer ng-scope">
  <div class="container-fluid">
    <p>Powered by
      <a target="blank" href="https://Sequr.com/" class="external">
        2021 All rights reserved Sequr.com
      </a>
    </p>
  </div>
</footer>
