<div class="container-fluid as-mt-main mycart">
  <div class="as-header">
    <div class="as-title">
      My Cart
    </div>
    <div class="row as-color-1" *ngIf="cartList.length !=0" style="align-items: baseline;">
      <div class="form-group form-check mr-3">
        <mat-checkbox class="example-margin" [checked]="isChecked()==true && this.cartList.length==0?false:isChecked()" [indeterminate]="isIndeterminate()"
          (change)="$event ? toggleAll($event) : null">Select All</mat-checkbox>
      </div>
      <div class="mr-5">
        <i class="fa fa-trash-o as-font-20" aria-hidden="true" (click)="deleteMultiple()"></i>
      </div>
      <!-- <div class="mr-3 as-font-14">
        Items 1-8 of 8
      </div>    [disabled]="cartdata?.length==0"-->
      <div class="mr-3 pointer as-g-active view-active" (click)="gridview()" >
        <i class="fa fa-th" aria-hidden="true"></i>
      </div>
      <div class="mr-3  pointer as-l-active" (click)="listview()">
        <i class="fa fa-list" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="row mx-0 as-grid">
    <div class="as-card py-3" *ngFor="let cart of cartList">
      <div class="as-card-width1" >
        <img class="as-product-img" [src]="cart?.item?.image_path[0]" onError="this.src='../../../assets/img/errorimage.png'">
        <!-- <div class="as-product-img" style="background-image: url({{cart?.item?.image_path}});" onError="this.src='../../../assets/img/tools.png'"></div> -->
      </div>
      <!-- <div class="as-card-width1" *ngIf="onoff === false">
        <img [src]="cart.item.image" onError="this.src='../../../assets/img/errorimage.png'">
      </div> -->

      <div class="my-2 as-bold as-color-4 as-card-width2">{{cart?.item?.item_name}}</div>
      <div class="row align-items-center mx-0 as-card-width3">
        <div class="dropdown1 as-width-60 mr-3">
          <!-- <div type="button" class=" dropdown-toggle btn btn-round btn-light" data-toggle="dropdown"> -->
          <!-- <input style="width: 50px;" type="number" min="1" [value]="cart?.qty" #qty> -->
          <div class="t0-fl">
            <label class="mb-0">QTY</label>
          <input type="number" class="as-width-60" id="quantity" class="form-control" min="1" max="{{cart?.item_details.quantity}}" 
            [value]="cart?.qty" name="quantity" #qty   (change)="updateCart(cart,qty.value,cart?.item_details.quantity)" (keyup)="updateCart(cart,qty.value,cart?.item_details.quantity)">
          
          </div>
            <!-- </div> -->
          <!-- <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">1</a>
                  <a class="dropdown-item" href="#">2</a>
                  <a class="dropdown-item" href="#">3</a>
              </div> -->
        </div>
        <!-- <div>
          <button type="button" class="btn qty as-btn btn-primary mr-3" ><i
            class="fa fa-minus"></i></button>
          <button type="button" class="btn qty as-btn btn-primary mr-3" ><i
              class="fa fa-plus"></i></button>
        </div> -->
        <div class="">
          <button type="button" class="btn btn-round btn-light " (click)="deleteCart(cart)"><i
              class="fa fa-trash-o as-font-20" aria-hidden="true"></i></button>
        </div>
      </div>
      <div class="form-group form-check as-check">
        <mat-checkbox class="example-margin" (change)="$event ? toggle(cart, $event) : null" [checked]="exists(cart)">
        </mat-checkbox>
        <!-- <input type="checkbox" class="form-check-input" id="Check1"> -->
      </div>
    </div>
   
  </div>
  <ng-container class="as-nodata" *ngIf="cartList?.length == 0">
    <div class="no_data_msg w-100 text-center as-nodata">No Data Avaliable</div>
  </ng-container>
  
  <div class="text-right mb-5 mt-3  ">
    <button type="button" class="btn as-btn btn-primary mr-3" (click)="Addmore()">Add More</button>
    <button type="button" class="btn as-btn btn-secondary " (click)="takeItems(mymodal)" *ngIf="cartList.length !=0">Take Now</button>
       <!-- Modal -->
       <!-- <div class="text-left mb-5 mt-3  ">

       <div class="modal fade" id="myModal" role="dialog" data-backdrop="static">
        <div class="modal-dialog">

    
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
               
                </div>
                <div class="modal-body">
               
                    
                    <table class="table table-striped">
    
                      <tbody>
                        <tr>
                          <td>Cube ID :</td>
                          <td>{{machineCubeID}}</td>
                          
                        </tr>
                        <tr>
                          <td>Colomn ID :</td>
                          <td>{{machineColumnID}}</td>
                          
                        </tr>
                        <tr>
                          <td>Draw ID :</td>
                          <td>{{machineDrawID}}</td>
                          
                        </tr>
                        <tr>
                          <td>compartment ID :</td>
                          <td>{{machineCompartmentID}}</td>
                          
                        </tr>
                        <tr>
                          <td>Status :</td>
                          <td>{{machineStatus}}</td>
                          
                        </tr>
                      </tbody>
                    </table>
                    <div class="details text-center" style="background-color: #ddd; padding: 15px; margin: auto;"> 
                      <p><strong style="color: rgb(23, 167, 23);">{{msg}}</strong></p>
                    <p><strong style="color: rgb(23, 167, 23);">{{msgg}}</strong></p>
                </div>
                </div>
            
            </div>
            </div>
  </div>
</div> -->
</div>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"></h4>
    <button type="button" *ngIf="dooropen" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" (click)="modaldismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <table class="table table-striped">
      
        <tbody>
          <tr>
            <td>Cube ID :</td>
            <td>{{machineCubeID}}</td>
            
          </tr>
          <tr>
            <td>Colomn ID :</td>
            <td>{{machineColumnID}}</td>
            
          </tr>
          <tr>
            <td>Draw ID :</td>
            <td>{{machineDrawID}}</td>
            
          </tr>
          <tr>
            <td>Compartment ID :</td>
            <td>{{machineCompartmentID}}</td>
            
          </tr>
          <tr>
            <td>Status :</td>
            <td>{{machineStatus}}</td>
            
          </tr>
        </tbody>
        </table>
        <div class="details text-center" style="background-color: #ddd; padding: 15px; margin: auto;"> 
          <p><strong style="color: rgb(23, 167, 23);">{{msg}}</strong></p>
        <p><strong style="color: rgb(23, 167, 23);">{{msgg}}</strong></p>
    </div>
  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div> -->
</ng-template>