.addtocart-btn {
  height: 40px;
  width: 40px;
}

.as-btn {
  padding: 8px 28px;
}

.qty.as-btn {
  padding: 4px 10px;
}
.t0-fl input#quantity {
  width: 130%;
}

.row.mx-0.as-grid.as-list .as-card.py-3 {
  width: 100%;
}

@media (min-width:1920px) {
  .qty.as-btn {
    padding: 0px 10px;
  }
}
